{% extends "managers/structure_manager.html" %}

{% block page %}

<div class="add-form">

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <div>
                {{ form.title.label(class="title")}}
                {% if form.title.errors %}
                {{ form.title(class="error")}}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %} {{ form.title()}}
                {% endif %}
            </div>
        </fieldset>
        <div>{{ form.submit()}}</div>
    </form>
</div>

<div class="list-title">
    <h1>Department list :</h1>
</div>

<div class="list">
    {% for department in department_list %}


    <div class="item">
        <form method="POST" action="">
            {{ update_form.csrf_token }}
            {{ update_form.department_id(value= department.id|string )}}

            {% if update_form.title.errors %}

            {{ update_form.title(class="error", value=department.title, style="color:"+department.color )}}
            <div class="invalid-feedback">
                {% for error in update_form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>

            {% else %}

            {{ update_form.title(value=department.title, style="color:"+department.color )}}

            {% endif %}


            {% if update_form.color.errors %}

            {{ update_form.color(class="error", value=department.color, style="color:"+department.color )}}
            <div class="invalid-feedback">
                {% for error in update_form.color.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>

            {% else %}

            {{ update_form.color(value=department.color, style="color:"+department.color )}}

            {% endif %}

            {{ update_form.update(style="margin-left: auto; margin-right: none;")}}
        </form>
        <small class="" style="color: rgb(231, 231, 231) !important; margin: auto; font-size: 1em;">
            User count : {{ department.member_count() }}</small>
    </div>

    {% else %}
    <p>No departement found</p>
    {% endfor %}

</div>

{% endblock page %}