{% extends "managers/structure_manager.html" %} 

{% block page %}

<div class="add-form">

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.title.label(class="title")}}
                {% if form.title.errors %}
                {{ form.title(class="error")}}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %} {{ form.title()}} {%
                endif %}
            </div>
        </fieldset>
        <div class="form-group">{{ form.submit()}}</div>
    </form>
</div>

<div class="list-title">
    <h1>Department list :</h1>
</div>

<div class="list">
    {% for department in departments %}


    <div class="item">
        <a href="">{{ department.title }}</a>
        <small class="" style="color: rgb(231, 231, 231) !important">
            User count: {{ department.member_count() }}</small>
    </div>

    {% else %}
    <p>No departement found</p>
    {% endfor %}

</div>

{% endblock page %}