{% extends "header.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/managers_tool.css') }}">

<script>

    function add_user_role(handle, role_id) {
        $.ajax({
            url: "/add_role/" + handle + "/" + role_id,
            type: "get",
            data: { jsdata: 0 },
            success: function () {
                show_user_info(handle)
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });
    }

    function remove_user_role(handle, role_id) {
        $.ajax({
            url: "/remove_role/" + handle + "/" + role_id,
            type: "get",
            data: { jsdata: 0 },
            success: function () {
                show_user_info(handle)
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });
    }

    function show_user_info(handle) {
        var x = document.getElementById("user_info");

        $.ajax({
            url: "/managers/managers/{{department.id}}/members/" + handle,
            type: "get",
            data: { jsdata: 0 },
            success: function (response) {
                $("#user_info").html(response);
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });
    }

    function show_page(page) {
        var y = document.getElementsByClassName("page");
        for (var i = 0; i < y.length; i++) {
            y[i].style.display = "none";
        }
        var x = document.getElementById(page);
        x.style.display = "grid"
    }

    $(document).ready(function () {
        show_page("dashboard")
    });

</script>
{% endblock style %}


{% block content %}

<div class="top_menu">
    <a class="item active" href="javascript:void(0);" onclick="show_page('dashboard')">Dashboard</a>
    <a class="item" href="javascript:void(0);" onclick="show_page('user_manager')">User manager</a>
    <a class="item" href="javascript:void(0);" onclick="show_page('role_manager')">Role manager</a>
    <a class="item" href="javascript:void(0);" onclick="show_page('settings')">Settings</a>
    <a class="item" href="javascript:void(0);" onclick="show_page('logs')">Logs</a>
</div>

<div id="dashboard" class="page">
    <div class="logo section"><svg width="100%" height="100%" viewBox="0 0 3000 3000" version="1.1"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
            xmlns:serif="http://www.serif.com/"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g>
                <g transform="matrix(0.982566,0,0,0.981273,29.9252,29.7732)">
                    <path
                        d="M760.615,1500L1125.82,2132.55L1838.05,2132.55L1995.74,2405.68L968.127,2405.68L445.234,1500L760.615,1500ZM443.254,1500L968.127,590.893L2005.22,590.893L1847.53,864.02L1125.82,864.02L758.635,1500L443.254,1500Z"
                        style="fill:white;" />
                </g>
                <g transform="matrix(0.982566,0,0,0.981273,29.9252,29.7732)">
                    <path
                        d="M760.615,1500L1125.82,2132.55L1838.05,2132.55L1995.74,2405.68L968.127,2405.68L445.234,1500L760.615,1500ZM443.254,1500L968.127,590.893L2005.22,590.893L1847.53,864.02L1125.82,864.02L758.635,1500L443.254,1500Z"
                        style="fill:{{department.color}}; filter: opacity(50%);" />
                </g>
                <g>
                    <g transform="matrix(0.982566,0,0,0.981273,29.9252,29.7732)">
                        <path
                            d="M2031.73,2394.34L1874.04,2121.21L2233.68,1498.29L2549.07,1498.29L2031.73,2394.34ZM1851.9,2082.88L1694.21,1809.75L1875.03,1496.57L2190.41,1496.57L1851.9,2082.88ZM1672.99,1772.99L1515.38,1500L1516.87,1497.43L1832.08,1497.43L1672.99,1772.99ZM2031.73,605.661L2547.08,1498.29L2231.7,1498.29L1874.04,878.789L2031.73,605.661ZM1830.1,1497.43L1516.87,1497.43L1673.48,1226.16L1830.1,1497.43ZM1852.89,915.409L2188.43,1496.57L1873.05,1496.57L1695.2,1188.54L1852.89,915.409Z"
                            style="fill:{{department.color}};" />
                    </g>
                    <g transform="matrix(5.48865,0,0,5.48865,-2923.62,-4026.87)">
                        <path
                            d="M537.671,1006.97L671.815,774.621L940.103,774.621L1074.25,1006.97L940.103,1239.31L671.815,1239.31L537.671,1006.97ZM983.588,1043.49L905.316,1179.06L706.603,1179.06L628.331,1043.49L983.588,1043.49ZM983.588,970.445L628.331,970.445L706.603,834.874L905.316,834.874L983.588,970.445Z"
                            style="fill:{{department.color}};" />
                    </g>
                </g>
            </g>
        </svg></div>

    <div class="member-request section">
        <div class="user_item">
            <div class="username"></div>
            <div class="add"></div>
            <div class="refuse"></div>
        </div>
    </div>

    <div class="system_stats section">
        <div class="total_influence"></div>
        <div class="monthly_influence"></div>
    </div>

    <div class="info section">
        <div class="title">
            <div>Department name :</div>
            <div>{{ department.title}}</div>
        </div>
        <div class="members">
            <div>Total member :</div>
            <div>{{ department.member_count() }}</div>
        </div>
        <div class="members main">
            <div>Main member :</div>
            <div>{{ department.title}}</div>
        </div>
        <div class="weight">
            <div>total weight :</div>
            <div>{{ department.title}}</div>
        </div>
        <div class="leader">
            <div>Leader :</div>
            <div>{{ department.title}}</div>
        </div>
        <div class="age">
            <div>Age: </div>
            <div>{{ department.date_added}}</div>
        </div>
    </div>

    <div class="test section"></div>
    <div class="test section"></div>
</div>

<div id="user_manager" class="page">
    <div class="user_list section">
        {% for user in department.members()%}
        <div class="user" onclick="show_user_info('{{ user.RSI_handle }}')">
            <img style=" height: 50px; width: 50px; justify-content: left; margin-right: 10px;" src="{{ user.image_file }}">
            <div>{{ user.RSI_handle }}</div>
        </div>
        {% endfor %}
    </div>
    <div id="user_info" class="section">

    </div>
</div>

<div id="role_manager" class="page"></div>
<div id="settings" class="page"></div>

<div id="logs" class="page">
    <div class="user_history section"></div>
    <div class="setting_logs section"></div>

    <div class="division_logs section"></div>
</div>
{% endblock content %}