{% extends "managers/structure_manager.html" %}



{% block page %}

<div class="radio-menu">

    {% if current_user.is_manager("admin") %}
    {% if currentdep == 0 %}
    <input onclick="window.location='{{ url_for('managers.role_manager') }}'" label="All" type="radio" name="department"
        checked>
    {% else %}
    <input onclick="window.location='{{ url_for('managers.role_manager') }}'" label="All" type="radio"
        name="department">
    {% endif %}
    {% endif %}

    {% for department in departments %}
    {% if current_user.is_manager(department = department.id) %}
    {% if currentdep == department.id %}
    <input onclick="window.location='{{ url_for('managers.role_manager', department= department.id) }}';"
        label="{{ department.title }}" type="radio" name="department" checked>
    {% else %}
    <input onclick="window.location='{{ url_for('managers.role_manager', department= department.id) }}';"
        label="{{ department.title }}" type="radio" name="department">
    {% endif %}
    {% else %}
    {% for division in department.divisions %}
    {% if current_user.is_manager(division = division.id) %}
    {% if currentdep == department.id %}
    <input
        onclick="window.location='{{ url_for('managers.role_manager', department= department.id, division= division.id) }}';"
        label="{{ department.title }}" type="radio" name="department" checked>
    {% else %}
    <input
        onclick="window.location='{{ url_for('managers.role_manager', department= department.id, division= division.id) }}';"
        label="{{ department.title }}" type="radio" name="department">
    {% endif %}
    {% endif %}
    {% endfor %}

    {% endif %}
    {% endfor %}
</div>

<div class="radio-menu">

    {% if current_user.is_manager("admin") or current_user.is_manager(department = currentdep) %}
    {% if currentdiv == 0 %}
    <input onclick="window.location='{{ url_for('managers.role_manager', department = currentdep) }}'" label="All"
        type="radio" name="division" checked>
    {% else %}
    <input onclick="window.location='{{ url_for('managers.role_manager', department = currentdep) }}'" label="All"
        type="radio" name="division">
    {% endif %}
    {% endif %}

    {% for division in divisions %}
    {% if currentdep == 0 or currentdep == division.department.id %}
    {% if current_user.is_manager(division = division.id) %}
    {% if currentdiv == division.id %}
    <input
        onclick="window.location='{{ url_for('managers.role_manager', department = division.department.id , division = division.id) }}';"
        label="{{ division.title }}" type="radio" name="division" checked>
    {% else %}
    <input
        onclick="window.location='{{ url_for('managers.role_manager', department = division.department.id , division = division.id) }}';"
        label="{{ division.title }}" type="radio" name="division">
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
</div>

<div class="add-form">

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.title.label(class="title")}}
                {% if form.title.errors %}
                {{ form.title(class="error")}}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %} {{ form.title()}} {%
                endif %}
            </div>
        </fieldset>
        <div class="form-group">{{ form.submit()}}</div>
    </form>
</div>

<div class="list-title">
    <h1>Role list :</h1>
</div>

<div class="list">
    {% for role in roles %}

    {% if not role.division_id and not role.department_id %}
    <div class="item">
        <form method="POST" action="">
            {{ update_color_form.csrf_token }}
            {{ update_color_form.role_id(value= role.id|string )}}

            {% if update_color_form.title.errors %}
            {{ update_color_form.title(class="error", value=role.title, style="color:"+role.role_color() )}}
            <div class="invalid-feedback">
                {% for error in update_color_form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ update_color_form.title(value=role.title, style="color:"+role.role_color() )}}
            {% endif %}


            {% if update_color_form.color.errors %}
            {{ update_color_form.color(class="error", value=role.role_color(), style="color:"+role.role_color() )}}
            <div class="invalid-feedback">
                {% for error in update_color_form.color.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ update_color_form.color(value=role.role_color(), style="color:"+role.role_color() )}}
            {% endif %}


            <div class="radio-menu">
                {% for option in update_color_form.rule %}
                    {% if option.vale == role.rule %}
                    lol
                    {{option(label= option.label.text, active=True) }}
                    {% else %}
                    {{option(label= option.label.text) }}
                    {% endif %}
                {% endfor %}
            </div>

            {% if update_color_form.rule.errors %}
            <div class="invalid-feedback">
                {% for error in update_color_form.rule.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}


            {{ update_color_form.update(style="margin-left: auto; margin-right: none;")}}
        </form>
        <small class="" style="color: rgb(231, 231, 231) !important; margin: auto; font-size: 1em;">
            User count : {{ role.member_count() }}</small>
    </div>
    {% else %}
    <div class="item">
        <form method="POST" action="">
            {{ update_form.csrf_token }}
            {{ update_form.role_id(value= role.id|string )}}

            {% if update_form.title.errors %}

            {{ update_form.title(class="error", value=role.title, style="color:"+role.role_color() )}}
            <div class="invalid-feedback">
                {% for error in update_form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>

            {% else %}

            {{ update_form.title(value=role.title, style="color:"+role.role_color() )}}

            {% endif %}

            {{ update_form.update(style="margin-left: auto; margin-right: none;")}}
        </form>
        <small class="" style="color: rgb(231, 231, 231) !important; margin: auto; font-size: 1em;">
            User count : {{ role.member_count() }}</small>
    </div>
    {% endif %}

    {% else %}
    <p>No role found</p>
    {% endfor %}

</div>


{% endblock page %}