{% extends "managers/structure_manager.html" %}



{% block page %}
<div class="radio-menu">

    {% if current_user.is_manager("admin") %}
    {% if currentdep == 0 %}
    <input onclick="window.location='{{ url_for('managers.user_manager') }}'" label="All" type="radio" name="department"
        checked>
    {% else %}
    <input onclick="window.location='{{ url_for('managers.user_manager') }}'" label="All" type="radio"
        name="department">
    {% endif %}
    {% endif %}

    {% for department in department_list %}
    {% if current_user.is_manager(department = department.id) %}
    {% if currentdep == department.id %}
    <input onclick="window.location='{{ url_for('managers.user_manager', department= department.id) }}';"
        label="{{ department.title }}" type="radio" name="department" checked>
    {% else %}
    <input onclick="window.location='{{ url_for('managers.user_manager', department= department.id) }}';"
        label="{{ department.title }}" type="radio" name="department">
    {% endif %}
    {% else %}
    {% for division in department.divisions %}
    {% if current_user.is_manager(division = division.id) %}
    {% if currentdep == department.id %}
    <input
        onclick="window.location='{{ url_for('managers.user_manager', department= department.id, division= division.id) }}';"
        label="{{ department.title }}" type="radio" name="department" checked>
    {% else %}
    <input
        onclick="window.location='{{ url_for('managers.user_manager', department= department.id, division= division.id) }}';"
        label="{{ department.title }}" type="radio" name="department">
    {% endif %}
    {% endif %}
    {% endfor %}

    {% endif %}
    {% endfor %}
</div>

<div class="radio-menu">

    {% if current_user.is_manager("admin") or current_user.is_manager(department = currentdep) %}
    {% if currentdiv == 0 %}
    <input onclick="window.location='{{ url_for('managers.user_manager', department = currentdep) }}'" label="All"
        type="radio" name="division" checked>
    {% else %}
    <input onclick="window.location='{{ url_for('managers.user_manager', department = currentdep) }}'" label="All"
        type="radio" name="division">
    {% endif %}
    {% endif %}

    {% for division in division_list %}
    {% if currentdep == 0 or currentdep == division.department.id %}
    {% if current_user.is_manager(division = division.id) %}
    {% if currentdiv == division.id %}
    <input
        onclick="window.location='{{ url_for('managers.user_manager', department = division.department.id , division = division.id) }}';"
        label="{{ division.title }}" type="radio" name="division" checked>
    {% else %}
    <input
        onclick="window.location='{{ url_for('managers.user_manager', department = division.department.id , division = division.id) }}';"
        label="{{ division.title }}" type="radio" name="division">
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
</div>

<div class="add-form">

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.RSI_handle.label(class="title")}}
                {% if form.RSI_handle.errors %}
                {{ form.RSI_handle(class="error")}}
                <div class="invalid-feedback">
                    {% for error in form.RSI_handle.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %} {{ form.RSI_handle()}} {%
                endif %}
            </div>
        </fieldset>
        <div class="form-group">{{ form.submit()}}</div>
    </form>
</div>

<div class="list-title">
    <h1>Users list :</h1>
</div>

<div class="list">
    {% for user in users %}
    {% set user_roles = user.roles() %}

    <div class="item">
        <img style=" height: 50px; width: 50px;" src="{{ user.image_file }}">
        <a href="">{{ user.RSI_handle }}</a>
        <a href="javascript:void(0);" onclick="show_user_dropdown('{{ user.RSI_handle }}')" style="width: 50px; margin-left: auto;">
            <div class="mobile-button">
                <img style=" height: 35px; width: 35px;" src="/static/main/ham.png">
            </div>
        </a>
        <div id="{{ user.RSI_handle }}" class="item-dropdown">
            <div class="title">Remove</div>
            <div class="title">Add</div>
            <div class="roles">
                {% for role in user_roles %}
                {% if not dep_id == role.department_id %}
                    {% set color = role.role_color() %}
                    {% set dep_id = role.department_id %}
                {% endif %}
                <div style=" border-color: {{ color }}; ">

                        <a href="{{ url_for('managers.remove_role', user = user.id, role = role.id,  next=request.url) }}" style="background-color: {{ color }}; color: {{ color }};">x</a>

                    {{ role.title }}
                </div>
                {% endfor %}
            </div>

            <div class=" roles">
                {% for role in role_list %}
                {% if not role in user_roles %}
                {% if not dep_id == role.department_id %}
                    {% set color = role.role_color() %}
                    {% set dep_id = role.department_id %}
                {% endif %}
                <div style=" border-color: {{ color }}; ">

                    <a href="{{ url_for('managers.add_role', user = user.id, role = role.id,  next=request.url) }}" style="background-color: {{ color }}; color: {{ color }}; ">+</a>

                    {{ role.title }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


    {% else %}
    <p>No member found</p>
    {% endfor %}

</div>
{% endblock page %}