
@mixin keyframes($name) {
    @-o-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-webkit-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

@include keyframes(loader) {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@include keyframes(scaleZ) {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    80% {
        transform: scale(1.07);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@include keyframes(fadeInAnimation) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


// fade up animation with JS while ariving on item
@include keyframes(fadeInUp) {
    from {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.fadeInUp {
    opacity: 0;

    &.is-visible {
        animation-name: fadeInUp;
        animation-duration: 3s;
        animation-fill-mode: both;
    }
}

@include keyframes(input_animation) {
    0% {
        transform: scaleY(1);
        transform: scalex(1);
    }

    50% {
        transform: scaleY(1.1);
        transform: scalex(1.005);
    }

    100% {
        transform: scaleY(1);
        transform: scalex(1);
    }
}


@include keyframes(slideShow) {

    0% {
        opacity: 0;
        transform: scale(1);
    }

    5% {
        opacity: 1
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}


@include keyframes(side-infinite-move) {
    0% {
        transform: translateX(0); 
    }
    
    100% { 
        transform: translateX(calc(-100vw + -250px*#{$departments_count}));  
    }
  }