@import 'main';

main {
    display: grid;
    width: 95vw;
    background-image: url("/static/texture.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh; 
    max-height: calc(100vh - 140px);
    grid-template-rows: 60px 1fr;
    padding: 2.5vw;
    padding-top: 120px;
    padding-bottom: 20px;
    grid-gap: 20px;

    .top_menu {
        display: flex;
        flex-flow: row nowrap;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $background;
        border-radius: 5px;
        max-width: 95vw;

        .item {
            padding: 10px;
            margin: auto;
            margin-top: 0;
            margin-bottom: 0;
            border-radius: 5px;
            background-color: $dark-grey;
            text-decoration: none;
            color: white;
            &.active {
                background-color: $blue;
            }
            &:hover {
                background-color: $light-grey;
            }
        }

    }

    .page {
        width: 95vw;
        display: grid;

        .section {
            border-radius: 10px;
            background-color: $background;
        }

        &#dashboard {
            height: auto;
            grid-template-columns: 300px 1fr 1fr ;
            grid-template-rows: 300px 1fr ;
            grid-gap: 20px;

            .logo {
                background-color: $background;
                padding: 20px;
            }

            .info {
                display: flex;
                flex-flow: column nowrap;
                background-color: $background;
                padding: 20px;
                align-items: left;

                div {
                    display: flex;
                    flex-flow: row nowrap;
                    margin: auto;
                    width: 100%;
                    font-size: 12px;
                }
            }
        }

        &#user_manager {
            height: auto;
            grid-template-columns: 40% 1fr;
            grid-gap: 20px;

            #user_info {
                display: flex;
                background-color: $dark-grey;
                font-size: 1.6em;
                padding: 20px;
                border-radius: 10px;
                min-height: 5vh;
                transition: ease-in-out;
                flex-wrap: wrap;

                .title {
                    display: flex;
                    width: 50%;
                    text-align: center;
                    vertical-align: middle;
                    align-items: center;
                }

                .roles {
                    align-content: flex-start;
                    flex-wrap: wrap;
                    display: flex;
                    width: 50%;
                    text-align: center;

                    div {
                        display: flex;
                        grid-gap: 3px;
                        align-self: flex-start;
                        text-decoration: none;
                        font-weight: normal;
                        border: 2px solid rgb(255, 0, 0);
                        border-radius: 15px;
                        //height: 20px;
                        padding-top: 2.5px;
                        padding-bottom: 2.5px;
                        padding-left: 5px;
                        padding-right: 10px;
                        font-size: 15px;
                        margin-right: 5px;
                        margin-top: 4px;
                        text-align: center;

                        a {
                            display: flex;
                            flex-grow: 1;
                            border-radius: 15px;
                            grid-gap: 0px;
                            width: 15px;
                            height: 15px;
                            //align-items: center;
                            margin: auto;
                            padding: auto;
                            font-size: 15px;
                            text-align: center;
                            justify-content: center;


                            &:hover {
                                color: black !important;
                            }

                        }
                    }
                }
            }

            .user_list {
                overflow-y: scroll;
                padding: 20px;

                .user {
                    display: flex;
                    flex-flow: row nowrap;
                    background-color: $dark-grey;
                    align-items: center;
                    padding: 10px;
                    text-decoration: none;
                    color: white;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover {
                        background-color: $light-grey;
                    }
                }
            }
    }

}

}