.vscode/**
manage.py
site.db
venv/lib64
venv/*
trash/*
extra/*
node_modules/*
migrations/*
discordbot/*
database_save/*
__pycache__/*
corporation/__pycache__/*
corporation/managers/__pycache__/*
corporation/main/__pycache__/*
corporation/errors/__pycache__/*
corporation/departments/__pycache__/*
corporation/news/__pycache__/*
corporation/posts/__pycache__/*
corporation/users/__pycache__/*
corporation/user.db
corporation/role.db
corporation/social.db
corporation/influence.db
corporation/static/profile_pics/*
corporation/logs.db
cogs/__pycache__/*
cogs/ipc/__pycache__/*
corporation/discord_bot_routes/__pycache__/*
corporation/setup/__pycache__/*
cogs/__pycache__/*
corporation/discord_bot_routes/__pycache__/*
cogs/__pycache__/init.cpython-39.pyc
cogs/__pycache__/*
corporation/discord_bot_routes/__pycache__/*
env/*
corporation/influence/__pycache__/*
corporation/data/__pycache__/*
corporation/discord_bot_routes/__pycache__/*
front test
migrations
__pycache__/*
corporation/static/department_background/*
user.db
FILE

cogs/__pycache__/init.cpython-39.pyc
cogs/__pycache__/init.cpython-39.pyc
cogs/__pycache__/init.cpython-39.pyc
models/*
node_modules/*
corporation/dashboard/__pycache__/*

corporation/dashboard/account/__pycache__/*

corporation/security/__pycache__/*
corporation/security/errors/__pycache__/*
corporation/models/__pycache__/*
nohup.out
corporation/dashboard/stats/__pycache__/*
corporation/data/api/__pycache__/*

corporation/chart/__pycache__/*
