.vscode/*
vscode/*
manage.py
site.db
venv/lib64
venv/*
trash/*
extra/*
node_modules/*
migrations/*
discordbot/*
database_save/*
__pycache__/*
corporation/__pycache__/__init__.cpython-38.pyc
corporation/__pycache__/__init__.cpython-39.pyc
corporation/__pycache__/config.cpython-38.pyc
corporation/__pycache__/config.cpython-39.pyc
corporation/__pycache__/models.cpython-38.pyc
corporation/__pycache__/models.cpython-39.pyc
corporation/managers/__pycache__/__init__.cpython-38.pyc
corporation/managers/__pycache__/routes.cpython-38.pyc
corporation/main/__pycache__/__init__.cpython-38.pyc
corporation/main/__pycache__/__init__.cpython-39.pyc
corporation/main/__pycache__/routes.cpython-38.pyc
corporation/main/__pycache__/routes.cpython-39.pyc
corporation/errors/__pycache__/__init__.cpython-38.pyc
corporation/errors/__pycache__/__init__.cpython-39.pyc
corporation/errors/__pycache__/handlers.cpython-38.pyc
corporation/errors/__pycache__/handlers.cpython-39.pyc
corporation/departements/__pycache__/__init__.cpython-38.pyc
corporation/departements/__pycache__/routes.cpython-38.pyc
corporation/news/__pycache__/__init__.cpython-38.pyc
corporation/news/__pycache__/routes.cpython-38.pyc
corporation/posts/__pycache__/__init__.cpython-38.pyc
corporation/posts/__pycache__/forms.cpython-38.pyc
corporation/posts/__pycache__/routes.cpython-38.pyc
corporation/users/__pycache__/__init__.cpython-38.pyc
corporation/users/__pycache__/__init__.cpython-39.pyc
corporation/users/__pycache__/forms.cpython-38.pyc
corporation/users/__pycache__/forms.cpython-39.pyc
corporation/users/__pycache__/routes.cpython-38.pyc
corporation/users/__pycache__/routes.cpython-39.pyc
corporation/users/__pycache__/utils.cpython-38.pyc
corporation/users/__pycache__/utils.cpython-39.pyc
