.vscode/**
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
manage.py
site.db
venv/lib64
venv/*
trash/*
extra/*
node_modules/*
migrations/*
discordbot/*
database_save/*
corporation/user.db
corporation/role.db
corporation/social.db
corporation/influence.db
corporation/static/profile_pics/*
corporation/logs.db
env/*
front test
migrations
corporation/static/department_background/*
user.db
FILE

models/*
node_modules/*
corporation/databases/*
!corporation/databases/rsi_stats.db
