{% extends "header.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/account.css') }}">

<script type="text/javascript">
    $(document).ready(function () {
        var users = [];

        function loadUsers() {
            $.getJSON('/data/users', function (data, status, xhr) {
                for (var i = 0; i < data.length; i++) {
                    users.push(data[i].name);
                }
            });
        };

        loadUsers();

        $('#influence-RSI_handle').autocomplete({
            source: users,
        });
    });
</script>

{% endblock style %}



{% block content %}


<div class="user-info">
    <div class="user-tab summary">
        <div class="top-section">
            <img src="{{ current_user.image_file }}">



            <div class="handle">

                <p class="title">RSI moniker :</p>
                <p style="font-size: {{ 400/current_user.RSI_handle|length }}px ">{{ current_user.RSI_moniker }}</p>

                <p class="title">RSI handle :</p>
                <p style="font-size: {{ 400/current_user.RSI_handle|length }}px ">{{ current_user.RSI_handle }}</p>

            </div>

        </div>


        <div class="influence-info">

            <div class="item">
                <div class="title">Rank:</div>
                <div class="data">{{current_user.influence_rank().title}}</div>
            </div>
            <div class="item">
                <div class="title">Lifetime influence:</div>
                <div class="data">{{current_user.lifetime_influence_count()}}</div>
            </div>
            <div class="item">
                <div class="title">Total influence:</div>
                <div class="data">{{current_user.influence_count()}}</div>
            </div>
            <div class="item">
                <div class="title">Weekly tribute:</h6>
                </div>
                <div class="data">{{ current_user.influence_rank().weekly_amount }}</div>
            </div>
            <div class="item">
                <div class="title">Tribute left:</h6>
                </div>
                <div class="data">{{ current_user.tribute().amount }}</div>
            </div>
        </div>
    </div>
    <div class="user-tab user-link">

        <div class="link-item">
            <div class="title">Star Citizen link:</div>
            <div class="value link">https://robertsspaceindustries.com/citizens/{{ current_user.RSI_handle }}</div>
        </div>
        <div class="link-item">
            <div class="title">Email:</div>
            <div class="value">{{ current_user.email }}</div>
        </div>
        <div class="link-item">
            <div class="title">Discord username</div>
            <div class="value">{{ current_user.discord_username }}</div>
        </div>
        <div class="link-item">
            <div class="title">Guilded username</div>
            <div class="value">{{ current_user.guilded_username }}</div>
        </div>
        <div class="link-item">
            <div class="title">Other stuff</div>
            <div class="value">blablabla</div>
        </div>

    </div>
</div>


<div class="tools">

    <div class="tools-tab roles">
        <div class="role-section">

            {% if current_user.is_manager() %}
            <div class="title">
                Manager roles :
            </div>
            <div class="roles">
                {% for role in current_user.roles() %}
                {% if role.div_head or role.dep_head or role.div_proxy or role.dep_proxy %}
                <div style=" border-color: {{ role.role_color() }}; ">
                    <p class="circle" style="background-color: {{ role.role_color() }};"></p>
                    {{ role.title }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <div class="title">
                Member role :
            </div>
            <div class="roles">
                {% for role in current_user.roles() %}
                {% if role.div_member %}
                <div style=" border-color: {{ role.role_color() }}; ">
                    <p class="circle" style="background-color: {{ role.role_color() }};"></p>
                    {{ role.title }}
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="title">
                Other roles :
            </div>
            <div class="roles">
                {% for role in current_user.roles() %}
                {% if not (role.div_head or role.dep_head or role.div_proxy or role.dep_proxy or role.div_member) %}
                <div style=" border-color: {{ role.role_color() }}; ">
                    <p class="circle" style="background-color: {{ role.role_color() }};"></p>
                    {{ role.title }}
                </div>
                {% endif %}
                {% endfor %}
            </div>


        </div>
    </div>

    <div id="weight-tab" class="tools-tab influence-weight">
        <div class="weight">
            <div>Division</div>
            <div class="w-title">Weight (%)</div>
        </div>
        <form method="POST" action="">
            {{ weight_form.hidden_tag() }}
            {% for division in division_list %}
            {% if division.has_member(member = current_user) %}
            <div class="weight">

                <label style="color: {{division.color()}}">{{division.title}}</label>
                {% set w_form = weight_form.weights.append_entry()%}
                {{ w_form.csrf_token() }}
                {{ w_form.division(value= division.id|string ) }}
                {{ w_form.weight(value= current_user.div_weight(division = division) ) }}

            </div>
            {% endif %}

            {% endfor %}

            {% if weight_form.weights.errors %}
            <div class="invalid-feedback">
                {% for error in weight_form.weights.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

            {{ weight_form.set() }}
        </form>
    </div>

    <div class="tools-tab influence-transfer">
        <form method="POST" action="">
            {{ inf_form.csrf_token }}
            <div>
                {{ inf_form.RSI_handle.label()}}
                {% if inf_form.RSI_handle.errors %}
                {{ inf_form.RSI_handle(class="error")}}
                <div class="invalid-feedback">
                    {% for error in inf_form.RSI_handle.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ inf_form.RSI_handle()}}
                {% endif %}
            </div>
            <div>
                {{ inf_form.amount.label()}}
                {% if inf_form.amount.errors %}
                {{ inf_form.amount(class="error")}}
                <div class="invalid-feedback">
                    {% for error in inf_form.amount.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ inf_form.amount()}}
                {% endif %}
            </div>
            <div>
                {{ inf_form.message.label()}}
                {% if inf_form.message.errors %}
                {{ inf_form.message(class="error")}}
                <div class="invalid-feedback">
                    {% for error in inf_form.message.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ inf_form.message()}}
                {% endif %}
            </div>
            <div>
                {{ inf_form.send()}}
            </div>
        </form>
    </div>
</div>
<div class="system">
    <div class="system-tab settings">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend class="">Account Info</legend>
                <div>
                    {{ form.picture.label() }}
                    {{ form.picture() }}
                    {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit()}}
            </div>
        </form>
    </div>

    <div class="system-tab influence-info">

    </div>
</div>
{% endblock content %}