{% extends "header.html" %}

{% block style %}

{% endblock style %}



{% block content %}

        <div class="connection">
            <div class="connection-zone">
                <div class="connection-form">
                    <div class="title">Login</div>
                    <a href="/discord/auth/1">
                        <div class="discord">
                            <img src="/static/user/discord.svg">
                        </div>
                        
                    </a>
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <div>
                                {{ form.RSI_handle.label()}}
            
                                {% if form.RSI_handle.errors %}
                                {{ form.RSI_handle(class="error")}}
                                <div class="invalid-feedback">
                                    {% for error in form.RSI_handle.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.RSI_handle()}}
                                {% endif %}
                            </div>
                            <div>
                                {{ form.password.label()}}
            
                                {% if form.password.errors %}
                                {{ form.password(class="error")}}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.password() }}
                                {% endif %}
                            </div>
                            <div>
                                {% if form.recaptcha.errors %}
                                {{ form.recaptcha()}}
                                <div class="invalid-feedback">
                                    {% for error in form.recaptcha.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.recaptcha() }}
                                {% endif %}
                            </div>
                            <div>
                                {{ form.remember() }}
                                {{ form.remember.label() }}
                            </div>
            
                        </fieldset>
                        <div>
                            {{ form.submit()}}
                        </div>
                        <small class="text-muted ml-2">
                            <a href="{{url_for('security.reset_request')}}">Forgot Password?</a>
                        </small>
                    </form>
                </div>

            </div>
        </div>
{% endblock content %}