{% extends "header.html" %}

{% block style %}

{% endblock style %}



{% block content %}
<div class="connection">
    <div class="connection-zone">

        <div class="connection-form">
            <div class="title">Register</div>
            <div class="info">
                <div class="tooltip top-right">
                    <p class="tooltip-text">The procedure is simple, add your email in your <a
                            style="color: rgb(115, 115, 255);"
                            href="https://robertsspaceindustries.com/account/profile">Star Citizen
                            account</a> biography and fill out the following form.

                        <br>
                        <br>
                        This method bring multiple benefit. It make it way easier to indentify user on our
                        discord
                        server and we can identify the known griefer to prevent them to join the CORP.
                        <br>
                        <br>
                        The corporation verify that you are the real owner of your RSI account by
                        confirming the content of your Star Citizen account description.
                        <br>
                        <br>
                        The email in needed to reset your password is case your forget it.
                    </p>
                </div>
            </div>

            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset>
                    <div>

                        {{ form.RSI_handle.label()}}
    
                        {% if form.RSI_handle.errors %}
                            {{ form.RSI_handle(class="error", spellcheck="false")}}
                            <div class="invalid-feedback">
                                {% for error in form.RSI_handle.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        {{ form.RSI_handle( spellcheck="false")}}
                        {% endif %}

                    </div>
                    <div>

                        {{ form.email.label()}}
    
                        {% if form.email.errors %}
                            {{ form.email(class="error", spellcheck="false")}}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        {{ form.email(spellcheck="false")}}
                        {% endif %}

                    </div>
                    <div>

                        {{ form.password.label()}}
    
                        {% if form.password.errors %}
                            {{ form.password(class="error")}}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        {{ form.password()}}
                        {% endif %}

                    </div>
                    <div>
                        {{ form.confirm_password.label()}}
    
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="error")}}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        {{ form.confirm_password()}}
                        {% endif %}
                    </div>
                </fieldset>
                <div>
                    {{ form.submit()}}
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock content %}