@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");

body {
	background: #374e59;
	color: #c06162;
	font-family: 'Sen';
	margin-bottom: 200px;
}

h1 {
	font-size: 48px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px;
}

.menu-container {
	margin-top: 20px;
}

.menu-container h3 {
	font-size: 24px;
	margin-bottom: 10px;
	text-align: center;
}

.menu-container:nth-child(3) {
	margin-top: 200px;
}

nav {
	width: 100%;
	display: flex;
	justify-content: center;
}

.menu {
	display: flex;
	justify-content: center;
}

.dropdown {
	padding: 20px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #c06162;
	background: #34495e;
	position: relative;
	font-size: 18px;
	perspective: 1000px;
	z-index: 100;
}

.dropdown:hover {
	background: #2980b9;
	cursor: pointer;
}

.dropdown:hover .dropdown_menu li {
	display: block;
}

.dropdown_menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	perspective: 1000px;
	z-index: -1;
}

.dropdown_menu li {
	display: none;
	color: #fff;
	background-color: #34495e;
	padding: 10px 20px;
	font-size: 16px;
	opacity: 0;
}

.dropdown_menu li:hover {
	background-color: #2980b9;
}

.dropdown:hover .dropdown_menu--animated {
	display: block;
}

.dropdown_menu--animated {
	display: none;
}

.dropdown_menu--animated li {
	display: block;
	opacity: 1;
}


.dropdown_menu-4 .dropdown_item-1 {
	transform-origin: top center;
	animation: scaleZ 300ms 60ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-2 {
	transform-origin: top center;
	animation: scaleZ 300ms 120ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-3 {
	transform-origin: top center;
	animation: scaleZ 300ms 180ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-4 {
	transform-origin: top center;
	animation: scaleZ 300ms 240ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-5 {
	transform-origin: top center;
	animation: scaleZ 300ms 300ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-1 {
	transform-origin: top center;
	animation: scaleZ 300ms 60ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-2 {
	transform-origin: top center;
	animation: scaleZ 300ms 120ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-3 {
	transform-origin: top center;
	animation: scaleZ 300ms 180ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-4 {
	transform-origin: top center;
	animation: scaleZ 300ms 240ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-5 {
	transform-origin: top center;
	animation: scaleZ 300ms 300ms ease-in-out forwards;
}



@-moz-keyframes growDown {
	0% {
		transform: scaleY(0);
	}

	80% {
		transform: scaleY(1.1);
	}

	100% {
		transform: scaleY(1);
	}
}

@-webkit-keyframes growDown {
	0% {
		transform: scaleY(0);
	}

	80% {
		transform: scaleY(1.1);
	}

	100% {
		transform: scaleY(1);
	}
}

@-o-keyframes growDown {
	0% {
		transform: scaleY(0);
	}

	80% {
		transform: scaleY(1.1);
	}

	100% {
		transform: scaleY(1);
	}
}

@keyframes growDown {
	0% {
		transform: scaleY(0);
	}

	80% {
		transform: scaleY(1.1);
	}

	100% {
		transform: scaleY(1);
	}
}


@-moz-keyframes downOut {
	0% {
		transform: translateZ(200px) transLateY(40px);
	}

	80% {
		transform: translateZ(-10px) transLateY(0px);
	}

	100% {
		transform: translateZ(0px) transLateY(0px);
	}
}

@-webkit-keyframes downOut {
	0% {
		transform: translateZ(200px) transLateY(40px);
	}

	80% {
		transform: translateZ(-10px) transLateY(0px);
	}

	100% {
		transform: translateZ(0px) transLateY(0px);
	}
}

@-o-keyframes downOut {
	0% {
		transform: translateZ(200px) transLateY(40px);
	}

	80% {
		transform: translateZ(-10px) transLateY(0px);
	}

	100% {
		transform: translateZ(0px) transLateY(0px);
	}
}

@keyframes downOut {
	0% {
		transform: translateZ(200px) transLateY(40px);
	}

	80% {
		transform: translateZ(-10px) transLateY(0px);
	}

	100% {
		transform: translateZ(0px) transLateY(0px);
	}
}

@-moz-keyframes growOut {
	0% {
		transform: scale(0);
	}

	80% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes growOut {
	0% {
		transform: scale(0);
	}

	80% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@-o-keyframes growOut {
	0% {
		transform: scale(0);
	}

	80% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes growOut {
	0% {
		transform: scale(0);
	}

	80% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}


@-moz-keyframes scaleZ {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	80% {
		transform: scale(1.07);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@-webkit-keyframes scaleZ {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	80% {
		transform: scale(1.07);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@-o-keyframes scaleZ {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	80% {
		transform: scale(1.07);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes scaleZ {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	80% {
		transform: scale(1.07);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@-moz-keyframes scaleZ {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	80% {
		transform: scale(1.07);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@-webkit-keyframes scaleZ {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	80% {
		transform: scale(1.07);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@-o-keyframes scaleZ {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	80% {
		transform: scale(1.07);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes scaleZ {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	80% {
		transform: scale(1.07);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}


