


.error-section {
    position: absolute;
    top: calc(15vh + 60px);
    left: 15vw;
    height: 70vh;
    width: 70vw;
    padding: auto;
    text-align: center;

    h1 {
        color: $blue;
        font-size: 2.8em;

        span {
            color: $yellow;
        }
    }

    p {
        font-size: 1.3em;
    }

    img {
        height: 50vh;
        width: auto;
    }
}