.link-info {
    min-height: 50vh;
    padding: auto;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 10vw;
    padding: 10vh;
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    padding-bottom: calc(60px + 6%);
    background-image: url("/static/landing_page/steel.jpg");
    background-size: cover;
    background-position-y: 40%;
    box-shadow: inset 1px 100px 100px -100px rgb(0, 0, 0);
    margin-bottom: -6%;
    //padding-top: calc(40px + 6%);

    &.middle {
        clip-path: polygon(40% 6%, 60% 6%, 65% 0, 100% 0, 100% 100%, 0 100%, 0 0, 35% 0);
        padding-top: calc(60px + 6%);

        @media (max-width: 1000px) {
            clip-path: polygon(40% 2%, 60% 2%, 65% 0, 100% 0, 100% 100%, 0 100%, 0 0, 35% 0);
        }
    }

    @media (max-width: 1000px) {
        flex-flow: column nowrap;
        gap: 60px;
    }

    .link-item {
        display: flex;
        flex-flow: column nowrap;
        grid-template-rows: 30% 10% 60%;
        //border-radius: 20px;
        grid-gap: 20px;
        background-color: $background-tr;
        backdrop-filter: blur(6px);
        padding: 30px;
        border-radius: 10px;
        max-width: 300px;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.534);
        transition: 0.2s ease-out;

        &:hover {
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.534);
        }

        .logo {
            width: 200px;
            height: 200px;
            grid-row: 1fr;
            margin-left: auto;
            margin-right: auto;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.15);
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .title {
            font-size: 1.8em;
            color: $yellow;
            text-shadow: 0px 0px 8px black;
            text-decoration: none !important;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.15);
            }
        }

        .description {
            max-width: 60vw;
            grid-row: 1fr;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-bottom: 20px;
            text-shadow: 0px 0px 8px black;
        }
    }
}
