.side_slide_presentation {
    position: relative;
    min-height: 60vh;
    padding: auto;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 10vw;
    padding: 10vh;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: calc(60px + 6%);
    background-image: url("/static/landing_page/crusader_low.jpg");
    background-size: cover;
    background-position-y: 40%;
    box-shadow: inset 1px 100px 100px -100px rgb(0, 0, 0);
    //clip-path: polygon(0 0, 100% 0, 100% 94%, 65% 94%, 60% 100%, 40% 100%, 35% 94%, 0 94%);
    margin-bottom: -6%;
    overflow: hidden;

    h1 {
        position: absolute;
        left: 25vw;
        top: 30px;
        width: 50vw;
        font-size: 5vw;
        color: $background;
        font-family: "Orbitron";
        text-align: center;

        @media (max-width: 1000px) {
            font-size: 10vw;
            left: 10vw;
            width: 80vw;
        }
    }

    .slide-item {
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        grid-template-rows: 30% 10% 60%;
        //border-radius: 20px;
        grid-gap: 20px;
        background-color: $background-tr;
        backdrop-filter: blur(6px);
        padding: 30px;
        border-radius: 10px;
        max-width: 300px;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.534);
        transition: 0.2s ease-out;
        min-height: 30vh;
        top: 28%;
        

        @for $i from 1 to 20 {

            &.item-#{$i} {
                animation: side-infinite-move (3s*$departments_count) linear infinite;
                animation-delay: (-3s+3*$i); 
                right: -300px;
            }
        }

        &:hover {
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.534);
        }

        .logo {
            width: 200px;
            height: 200px;
            grid-row: 1fr;
            margin-left: auto;
            margin-right: auto;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.15);
            }

            svg {
                width: 100%;
                height: auto;
            }
        }

        .title {
            font-size: 1.6em;
            color: $yellow;
            text-shadow: 0px 0px 8px black;
            text-decoration: none !important;
            transition: all 0.3s ease-in-out;
            
            a {
                text-decoration: none;
                color: none;
            }

            &:hover {
                transform: scale(1.15);
            }
        }
    }
}
