{% extends "header.html"%}

{% block style %}
{% endblock style %}


{% block content %}

<div class="connection">
    <div class="connection-zone">
        
        <div class="login-section">
            <div class="title" style="font-size: 4em; margin-top: -100px;">Reset password</div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label")}}
    
                        {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="form-control form-control-lg")}}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary")}}
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock content %}