<html>
    <head>
        <!-- CSS sheets-->
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <!--END CSS sheets-->

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Javascript-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
        />
        <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!--Javascript-->
    </head>
    <body style="display: flex; flex-direction: column; gap: 20px; padding: 20px;">
        <form action="" class="dark" style="width: 500px;">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name.." autocomplete="off" />

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name.." autocomplete="off"/>

        <label for="country">Country</label>
        <select id="country" name="country" autocomplete="off">
            <option value="usa">Australia</option>
            <option value="usa">Canada</option>
            <option value="usa">USA</option>
        </select>

        
        <input id="c2d" type="checkbox" checked >
        <label for="c2d">Checkbox</label>

        
        <input id="r1d" type="radio" name="radiod" value="1" checked>
        <label for="r1d">Radio</label>
        <input id="r2d" type="radio" name="radiod" value="2" checked>
        <label for="r2d">Radio</label>

        
        <input id="s2d" type="checkbox" class="switch" checked >
        <label for="s2d">Switch</label>

        <br>

        <input id="c2d" type="checkbox" checked disabled>
        <label for="c2d">Checkbox</label>

        <input id="r1d" type="radio" name="radiod" value="1" disabled>
        <label for="r1d">Radio</label>
        <input id="r2d" type="radio" name="radiod" value="2" checked disabled>
        <label for="r2d">Radio</label>
        
        <input id="s1d" type="checkbox" class="switch" disabled>
        <label for="s1d">Switch</label>
        <input id="s2d" type="checkbox" class="switch" checked disabled>
        <label for="s2d">Switch</label>

        <a class="modify_btn send_btn" href="#" role="button" style="width: 100%;">
            <span>send</span>
            <div class="icon">
                <i class="fa fa-send"></i>
            </div>
        </a>

        </form>
    </body>
</html>
