{% extends "main.html"%}
{% block style %}
<script type="text/javascript" >
    $(document).ready(function () {
        var countries = [];

        function loadCountries() {
            $.getJSON('/countries', function (data, status, xhr) {
                for (var i = 0; i < data.length; i++) {
                    countries.push(data[i].name);
                }
            });
        };

        loadCountries();

        $('#country').autocomplete({
            source: countries,
        });
    });
</script>
{% endblock style %}
{% block page %}
<main role="main" class="container">
    <form class="form-inline">
        {{ form.csrf_token }}
        <div class="form-group">
            {{form.country(class="form-control")}}
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
    <div id="result"></div>
</main>
{% endblock page %}