{% extends "main.html"%}
{% block style %}

<script type="text/javascript">
    $(document).ready(function () {
        var users = [];

        function loadUsers() {
            $.getJSON('/data/users', function (data, status, xhr) {
                for (var i = 0; i < data.length; i++) {
                    users.push(data[i].name);
                }
            });
        };

        loadUsers();

        $('#influence-RSI_handle').autocomplete({
            source: users,
        });
    });
</script>

<style>
    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #666666 !important;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm>.col,
    .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mb-3,
    .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #666666;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }
</style>
{% endblock style %}
{% block content %}
<main role="main" class="container">
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{ image_file }}" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h4 class="text-white">{{ current_user.RSI_handle }}</h4>

                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Roles
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for role in current_user.roles() %}
                                <a class="dropdown-item" href="#">{{ role.title }}</a>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                {% if current_user.discord_username is defined %}
                            <legend class="border-bottom mb-4 text-white">Change Discord</legend>
                            {% else %}
                            <legend class="border-bottom mb-4 text-white">Link Discord</legend>
                            {% endif %}
                            <div class="form-group bg-dark"
                                style="border-radius: 10px; width: 140px; height: 50px; position: left; padding-left: 20px; padding-top: 5px; ">
                                <a href="/discord/2">
                                    <img src="{{ url_for('static', filename='discord.svg')}}" width="100" height="40">
                                </a>
                            </div>
                            <form method="POST" action="" enctype="multipart/form-data">
                                {{ form.hidden_tag() }}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4 text-white">Account Info</legend>
                                    <div class="form-group">
                                        {{ form.picture.label() }}
                                        {{ form.picture(class="form-control-file") }}
                                        {% if form.picture.errors %}
                                        {% for error in form.picture.errors %}
                                        <span>{{ error }}</span></br>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </fieldset>
                                <div class="form-group">
                                    {{ form.submit(class="btn btn-primary")}}
                                </div>
                            </form>
                        </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-white">RSI moniker</h6>
                        </div>
                        <div class="col-sm-9 text-light">
                            Kenneth Valdez
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-white">Email</h6>
                        </div>
                        <div class="col-sm-9 text-light">
                            {{ current_user.email }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-white">Discord</h6>
                        </div>
                        <div class="col-sm-9 text-light">
                            {% if current_user.discord_username is defined %}
                            {{ current_user.discord_username }}
                            {% else %}
                            Not linked
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-white">Guilded</h6>
                        </div>
                        <div class="col-sm-9 text-light">
                            Not supported yet
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-white">Main division</h6>
                        </div>
                        <div class="col-sm-9 text-light">
                            test
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <legend class="border-bottom mb-4 text-center text-white">Influence Sytem</legend>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h6 class="mb-0 text-white">Rank</h6>
                                </div>
                                <div class="col text-light">
                                    Drone
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col">
                                    <h6 class="mb-0 text-white">Lifetime influence</h6>
                                </div>
                                <div class="col text-light">
                                    69420
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col">
                                    <h6 class="mb-0 text-white">Weekly tribute</h6>
                                </div>
                                <div class="col text-light">
                                    300
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col">
                                    <h6 class="mb-0 text-white">Tribute balance</h6>
                                </div>
                                <div class="col text-light">
                                    666
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <form method="POST" action="">
                                {{ inf_form.csrf_token }}
                                <div class="form-group">
                                    {{ inf_form.RSI_handle.label(class="form-control-label")}}
                                    {% if inf_form.RSI_handle.errors %}
                                    {{ inf_form.RSI_handle(class="form-control form-control-lg is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in inf_form.RSI_handle.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ inf_form.RSI_handle(class="form-control form-control-lg")}}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ inf_form.amount.label(class="form-control-label")}}
                                    {% if inf_form.amount.errors %}
                                    {{ inf_form.amount(class="form-control form-control-lg is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in inf_form.amount.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ inf_form.amount(class="form-control form-control-lg")}}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ inf_form.message.label(class="form-control-label")}}
                                    {% if inf_form.message.errors %}
                                    {{ inf_form.message(class="form-control form-control-lg is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in inf_form.message.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ inf_form.message(class="form-control form-control-lg")}}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ inf_form.send(class="btn btn-primary")}}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</main>
{% endblock content %}