 body {
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 6em;
}
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  
  .site-header .navbar-nav .nav-link {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #003380;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #666666;
    color:rgb(255, 255, 255);
    padding: 20px 20px;
    border: 1px solid #050505;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,.5);
  }
  
  .article-title {
    color: #f0f0f0;
  }
  
  a.article-title:hover {
    color: #0088ff;
    text-decoration: none;
  }
  .postuser:hover {
    color:rgb(229, 255, 0)!important;
  }

  .postuser {
    color:rgb(0, 0, 0)!important;
    font-weight: bold;
  }
  
  .article-content {
    white-space: pre-line;
    color: #f7f7f7;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {

    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
    
  }
  
  .article-metadata a:hover {
    color: rgb(251, 255, 8);
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
    color:#ffffff;
  }
