{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

<div class="notifications">
    {% for category, message in messages %}
    <div class="alert {{ category }}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
    {% endfor %}
</div>

{% endif %}
{% endwith %}


<form id="influence-form" method="POST" action="" onsubmit="return false">
    {{ inf_form.csrf_token }}

    <div class="top">
    {{ inf_form.RSI_handle.label()}}
    {% if inf_form.RSI_handle.errors %}
    {{ inf_form.RSI_handle(class="error")}}
    <div class="invalid-feedback">
        {% for error in inf_form.RSI_handle.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ inf_form.RSI_handle()}}
    {% endif %}


    {{ inf_form.amount.label()}}
    {% if inf_form.amount.errors %}
    {{ inf_form.amount(class="error")}}
    <div class="invalid-feedback">
        {% for error in inf_form.amount.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ inf_form.amount()}}
    {% endif %}
</div>

    {{ inf_form.message.label()}}
    {% if inf_form.message.errors %}
    {{ inf_form.message(class="error")}}
    <div class="invalid-feedback">
        {% for error in inf_form.message.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ inf_form.message()}}
    {% endif %}


    <button class="submit_button" onclick="submit_influence()">{{ inf_form.submit.label.text }}</button>

</form>