#notification-tab {
    display: flex;
    flex-flow: column nowrap;
    height: calc(100vh - 60px);
    min-width: 300px;
    width: 300px;
    margin-right: -300px;
    background-color: $light-grey;
    z-index: 555;
    transition: all .3s ease-in-out;
    overflow-x: hidden;
    overflow-y: scroll;

    h1 {
        margin-left: auto;
        margin-right: auto;
        color: $blue;
        margin-top: 20px;
    }

    &.show {
        margin-right: 0px;
    }
}


.notifications {
    position: fixed;
    z-index: 100000;
    top: 60px;
    left: 0px;

    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        text-align: center;
        width: 100vw;

        &.danger {
            background-color: red;
            color: black;
        }

        &.success {
            background-color: green;
            color: white;
        }

        &.warning {
            background-color: yellow;
            color: black;
        }


        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                color: black;
            }
        }
    }
}
