#page-container {
    display: flex;
    flex-flow: row wrap;
    gap: 60px;
    padding: 60px;
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    align-items: stretch;

    .module {
        background-color: $light-grey;
        box-shadow: 0px 0px 10px 5px #292929;
        border-radius: 10px;
        padding: 30px;
        max-width: 100%;
        min-width: fit-content;
        min-height: fit-content;
        flex: auto;

        &.info_table {
            display: flex;
            flex-flow: row wrap;

            .column {
                display: flex;
                flex-flow: column nowrap;
                margin: auto;
                gap: 20px;

                color: $blue;

                div {
                    text-align: center;
                }

                .row2 {
                    color: $yellow;
                }

            }
        }

        
       

        .button {
            background-color: $light-grey;
            border-radius: 5px;
            padding: 5px;
            color: white;
            border-top-color: grey;
            border-left-color: grey;
            border-right-color: $dark-grey;
            border-bottom-color: $dark-grey;

            &:active {
                border-top-color: $dark-grey;
                border-left-color: $dark-grey;
                border-right-color: grey;
                border-bottom-color: grey;
            }

            &.active {
                background-color: $blue;
                color: $yellow;
                text-shadow: black;

                border-color: $yellow;
            }
        }

        table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;

            td,
            th {
                border: 1px solid $dark-grey;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: $dark-grey;
            }

            tr:hover {
                background-color: $background;
            }

            th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: $blue;
                color: white;
            }
        }
    }
}
