
{% if time == 5 %}
<button class="active" onclick="get_module($('#funding_graph_module'),'/chart/funding/graph/5')">All time</button>
{% else %}
<button onclick="get_module($('#funding_graph_module'),'/chart/funding/graph/5')">All time</button>
{% endif %}

{% if time == 4 %}
<button class="active" onclick="get_module($('#funding_graph_module'),'/chart/funding/graph/4')">Last year</button>
{% else %}
<button onclick="get_module($('#funding_graph_module'),'/chart/funding/graph/4')">Last year</button>
{% endif %}

{% if time == 3 %}
<button class="active" onclick="get_module($('#funding_graph_module'),'/chart/funding/graph/3')">Last month</button>
{% else %}
<button onclick="get_module($('#funding_graph_module'),'/chart/funding/graph/3')">Last month</button>
{% endif %}

{% if time == 2 %}
<button class="active" onclick="get_module($('#funding_graph_module'),'/chart/funding/graph/2')">Last week</button>
{% else %}
<button onclick="get_module($('#funding_graph_module'),'/chart/funding/graph/2')">Last week</button>
{% endif %}

{% if time == 1 %}
<button class="active" onclick="get_module($('#funding_graph_module'),'/chart/funding/graph/1')">Today</button>
{% else %}
<button onclick="get_module($('#funding_graph_module'),'/chart/funding/graph/1')">Today</button>
{% endif %}





<div style="width:100%;height:95%;">
<canvas id="funding_graph"></canvas>

<script>
    Chart.defaults.color = "#fff";
    var ctx = document.getElementById('funding_graph');

    var funding_data = {{ data|safe }}

    console.log('done!')
    console.log(funding_data)

    var fund = funding_data.map(function (e) {
        var time = moment(e.Date, 'DD/MM/YYYY HH:mm:SS').format("MM DD YYYY HH:mm:ss");
        return { y: e.Fund, x: time }
    });

    var citizen = funding_data.map(function (e) {
        var time = moment(e.Date, 'DD/MM/YYYY HH:mm:SS').format("MM DD YYYY HH:mm:ss");
        return { y: e.Citizens, x: time }
    });

    console.log(fund)

    var myChart = new Chart(ctx, {

        type: 'line',
        data: {
            datasets: [{

                label: 'Funding',
                data: fund,
                yAxisID: 'A',
                borderColor: 'rgb(252, 255, 0)',
                fill: {
                    target: 'origin',
                    below: 'rgb(252, 255, 0)'
                },
                spanGaps: true,
                lineTension: 0.4,
                radius: 1

            }, {

                label: 'Citizens',
                data: citizen,
                yAxisID: 'B',
                borderColor: 'rgb(0, 131, 255)',
                fill: {
                    target: 'origin',
                    below: 'rgb(0, 131, 255)'
                },
                spanGaps: true,
                lineTension: 0.4,
                radius: 1

            },
            ]
        },
        tooltips: {
            enabled: true,
            mode: 'label'
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    id: 'A',
                    display: true,
                    position: 'right',
                    type: 'linear'
                }, {
                    id: 'B',
                    display: true,
                    position: 'left',
                    type: 'linear',
                }],
                x: {
                    type: 'time',
                    time: {
                        {% if time == 1 %}
                        unit: 'hour'
                        {% elif time < 4 %}
                        unit: 'day'
                        {% elif time == 4 %}
                        unit: 'month'
                        {% else %}
                        unit: 'year'
                        {% endif %}
                    }
                }
            }
        },
        animation: {
            duration: 1,
            onComplete: function () {
                var controller = this.chart.controller;
                var chart = controller.chart;
                var yAxis = controller.scales['y-axis-0'];
                yAxis.ticks.forEach(function (value, index) {
                    var xOffset = chart.width - 40;
                    var yOffset = ((chart.height - 60) / 2 * index) + 15;
                    ctx.fillText(value + 'M', xOffset, yOffset);
                });
            }
        }

    });







</script>
</div>