{% extends "header.html" %}

{% block style %}

{% endblock style %}



{% block content %}
<div class="hero landing">
    <div class="pic-wrapper">
        <figure class="pic-1"
            style=" background: url('/static/landing_page/1_low.png') no-repeat center center; background-size: cover;">
        </figure>
        <figure class="pic-2"
            style=" background: url('/static/landing_page/2_low.png') no-repeat center center; background-size: cover;">
        </figure>
        <figure class="pic-3"
            style=" background: url('/static/landing_page/3_low.png') no-repeat center center; background-size: cover;">
        </figure>
        <figure class="pic-4"
            style=" background: url('/static/landing_page/4_low.png') no-repeat center center; background-size: cover;">
        </figure>
    </div>
</div>

<div class="link-info">
    <div class="link-item fadeInUp">
        <div class="logo"><a href="https://robertsspaceindustries.com/orgs/corp"><img
                    src="/static/landing_page/MadeByTheCommunity_White_low.png"></a></div>
        <div class="title"><a style="text-decoration: none;" href="https://robertsspaceindustries.com/orgs/corp">Star
                Citizen</a></div>
        <div class="description">The Corporation is a Star Citizen community form by backers. We have been
            playing, supporting and funding the game since the start.</div>
    </div>
    <div class="link-item fadeInUp">
        <div class="logo"><a href="https://discord.gg/ApEe8VK"><img src="/static/landing_page/discord.svg"></a></div>
        <div class="title"><a style="text-decoration: none;" href="https://discord.gg/ApEe8VK">Discord</a></div>
        <div class="description">Discord is our main platform of operation. It is where we communicate, play and
            meme toguether.</div>
    </div>
    <div class="link-item fadeInUp">
        <div class="logo"><a href="https://www.guilded.gg/Corporation?i=8d8apn0m"><img
                    src="/static/landing_page/guilded.svg"></a></div>
        <div class="title"><a style="text-decoration: none;"
                href="https://www.guilded.gg/Corporation?i=8d8apn0m">Guilded</a></div>
        <div class="description">We are present on guilded too. While we are not active on the platform, we use
            some of the functionnality and plan to transfer when the software get stable.</div>
    </div>
</div>

<div class="content-panel right middle" style="background-image: url('/static/landing_page/cash.jpg');">

    <div class="text-zone fadeInUp right-panel">
        <div class="title">Money doesn't buy happiness. But it helps. <span>But it helps.</span></div>
        <div class="description">
            The corporation plays the role of a massive Sci-fi company that is all about profit. Our main goal is to
            have fun as a group. For this, me need to build our empire to gear our soldiers and maybe even gearing the
            enemy if there's enough profit in it. There is no bad way to make money!!!
        </div>

    </div>

</div>

<div class="content-panel left middle" style="background-image: url('/static/landing_page/nature_low.png'); ">

    <div class="text-zone fadeInUp left-panel">
        <div class="title">Recycling is simple. <span>Give back to nature.</span></div>
        <div class="description">
            For the corporation, recycling is important. Everything from our enemy flesh to toxic waste needs to be
            disposed of correctly. We use the most simple technique ever created: Giving back to nature. If the UEE asks
            you why Hurston is a toxic desert, say it's the fault of the Nine Tails.
        </div>
    </div>

</div>

<div class="content-panel right bottom" style="background-image: url('/static/landing_page/prison_low.jpg');">

    <div class="text-zone fadeInUp right-panel">
        <div class="title">We respect the law. <span>Sometimes.</span></div>
        <div class="description">
            Respecting the law is important. We are working very closely with the UEE, but occasionally we can bend the
            laws a little too much. Don't worry, our CORP legal team has got your back. We will get your ass out of the
            gulag in no time if you take too much heat!
        </div>
    </div>

</div>
{% endblock content %}