<html>
    <head>
        <!-- CSS sheets-->
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <!--END CSS sheets-->

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Javascript-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!--Javascript-->

    </head>
    <body style="display: flex; flex-direction: column; gap: 20px;">
        <main>
            <div class="container v_center full_viewport">
                
            </div>
            <div class="container padding row v_center mobile_vertical">
                <div class="container" style="background-color: #ffffff; height: 50vh;"></div>
                <div class="container" style="background-color: #ffffff; height: 50vh;"></div>
                <div class="container" style="background-color: #ffffff; height: 50vh;"></div>
            </div>
            <div class="container flow_right padding row v_center">
                <div class="container" style="background-color: #ffffff; height: 50vh; width: 60vw"></div>
            </div>
        </main>
    </body>
</html>


