<html>
    <head>
        <!-- CSS sheets-->
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <!--END CSS sheets-->

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Javascript-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!--Javascript-->

    </head>
    <body style="display: flex; flex-direction: column; gap: 20px;">
        <main>
            <div class="container v_center full_viewport">
                <div class="container row connection_section">
                    <div class="container left">
                        <img src="/static/css/svg_element/corplogo.svg" alt="logo">
                    </div>
                    <div class="container column padding right">
                        <div class="connection_title">Login</div>

                        <a href="/discord/auth/1">
                            <div class="discord">
                                <img src="/static/main/discord.svg">
                            </div>
                            
                        </a>
                        <form method="POST" action="">
                            <input id="csrf_token" name="csrf_token" type="hidden" value="IjI4MGNjMzQ0NGQxNjc2ZmI5MjVhMWIyYTBkOWQwYzM4OWM2Yzk1Yzci.YwJGQQ.iHfcfkp57_cwlfwLRPMY3KFpsII" data-np-invisible="1" data-np-checked="1">
                                    <label for="RSI_handle">RSI handle</label>
                
                                    
                                    <input id="RSI_handle" name="RSI_handle" required="" type="text" value="" >
                                    


                                    <label for="password">Password</label>
                                    
                                    <input id="password" name="password" required="" type="password" value="" >

                                    
                                    
                <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
                <div class="g-recaptcha" data-theme="dark" data-sitekey="6LdXZI0aAAAAAPyy28KyZM_g3emVLLQPIDWF2Sai"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdXZI0aAAAAAPyy28KyZM_g3emVLLQPIDWF2Sai&amp;co=aHR0cHM6Ly90aGVjb3Jwb3JhdGlvbi5zcGFjZTo0NDM.&amp;hl=en&amp;v=PRMRaAwB3KlylGQR57Dyk-pF&amp;theme=dark&amp;size=normal&amp;cb=cnttcxh7wykd" width="304" height="78" role="presentation" name="a-sudmp61jaovc" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
                
                                    <label for="remember"><input id="remember" name="remember" type="checkbox" value="y">  Remember me </label>
                                    
                                    
                
                                <a class="modify_btn send_btn" href="#" role="button" style="width: 100%;">
                                    <span>submit</span>
                                    <div class="icon">
                                        <i class="fa fa-send"></i>
                                    </div>
                                </a>
                                
                            <small class="text-muted ml-2">
                                <a href="/reset_password">Forgot Password?</a>
                            </small>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>


