


.hero {
    height: 100vh;
    width: 100vw;
    background-color: $background;
    //background-image: url("/static/landing_page/1_low.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% bottom;
    padding: auto;
    text-align: center;
    grid-column: 1fr;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    box-shadow: inset 0 300px 100px -7px rgba(0, 0, 0, 0.4);
    //box-shadow: inset 0 -300px 100px -7px rgba(0,0,0,0.4);

    &.landing::before {
        content: "";
        background-image: url("/static/presentation/landing_page/cool_logo.svg");
        background-size: cover;
        z-index: 5;
        width: 80vw;
        height: 30vw;
        position: absolute;
        top: calc(50vh - 15vw);
        left: calc(50vw - 40vw);
        animation-name: fadeInUp;
        animation-duration: 3s;
        animation-fill-mode: both;
        animation-delay: 1s;
        opacity: 0;
        
    }

    .dep-logo {
        background-size: cover;
        width:100vw;
        height: 100vh;
        z-index: 5;
        padding: auto;
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        font-family: "Orbitron";
        font-weight: bold;
        top: 0;
        left: 0;
        font-size: 6vw;
        animation-name: fadeInUp;
        animation-duration: 3s;
        animation-fill-mode: both;
        opacity: 0;

        svg {
            align-items: center;
            height: 30vw;
            width: 30vw;
        }
    }

    .pic-wrapper {
        position: absolute;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

    }

    figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0;

        /*animation*/

        animation: slideShow 24s linear infinite 0s;
        -o-animation: slideShow 24s linear infinite 0s;
        -moz-animation: slideShow 24s linear infinite 0s;
        -webkit-animation: slideShow 24s linear infinite 0s;
    }

    figurecaption {
        position: absolute;
        top: 50%;
        left: 50%;
        color: rgb(0, 0, 0);
    }

    @for $i from 1 to 5 {

        .pic-#{$i} {
            animation-delay: ($i - 1)*6s;
            -o-animation-delay: ($i - 1)*6s;
            -moz--animation-delay: ($i - 1)*6s;
            -webkit-animation-delay: ($i - 1)*6s;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

    }

    .pic-1 {
        opacity: 1;
    }


}