@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: 'Phage';
    src: url("/static/main/fonts/Phage_Regular.otf") format("opentype") ;
}

$blue: #0083ff;
$yellow: #fcff00;
$light-grey:#646464;
$dark-grey: #444444;
$dark-grey-tr: #363636cb;
$background-tr: #1b1b1bc2;
$background: #363636;
$menu-font-color: rgb(255, 255, 255);

$menu-svg: url('/static/presentation/main/bottom-left.svg');

$main-font: 'Montserrat';

$departments_count: 8;
