Flask
gevent_socketio
Flask_APScheduler
Flask_Bcrypt
Flask_Discord
Flask_Discord_Interactions
Flask_Login
Flask_Mail
Flask_Migrate
Flask_Script
Flask_SocketIO
Flask_SQLAlchemy
Flask_WTF
Pillow
pytest
requests
selenium
SQLAlchemy
typing_extensions
WTForms
APScheduler
beautifulsoup4
discord.py
eventlet
email-validator
itsdangerous==2.0.1
