<div id="influence-info" class="module info_table" style="width: 100%">
    
    <div class="column">
        <div class="row"><input></div>
    </div>
    
    <div class="column">
        <div class="row">
            <div class="dropdown">
                <button onclick="show_dropdown($('#department_dropdown'))" class="dropbtn">Department</button>
                <div id="department_dropdown" class="dropdown-content">
                    {% for department in department_list  %}
                    <a style="color:{{department.color}} ">{{ department.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="row">
            <div class="dropdown">
                <button onclick="show_dropdown($('#division_dropdown'))" class="dropbtn">Division</button>
                <div id="division_dropdown" class="dropdown-content">
                    {% for division in division_list  %}
                    <a style="color:{{division.color()}} ">{{ division.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="row">
            <div class="dropdown">
                <button onclick="show_dropdown($('#rank_dropdown'))" class="dropbtn">Rank</button>
                <div id="rank_dropdown" class="dropdown-content">
                    
                    <a>New</a>
                    <a>Corporateer</a>
                    <a>Managers</a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="module"></div>
<div class="module"></div>

<div class="module"></div>