@import 'main';

main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    width: 100vw;
    background-image: url("/static/texture.svg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;


    .user-info {
        min-height: 40vh;
        display: grid;
        grid-gap: 30px;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-top: 120px;

        @media (min-width: 800px) {
            grid-template-columns: 40% 60%;
        }

        @media (max-width: 800px) {
            grid-template-rows: 40% 55%;
        }

        .user-tab {
            background-color: $background;
            border-radius: 10px;
        }

        .summary {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-gap: 20px;


            .top-section {
                display: grid;
                grid-template-columns: 40% 55%;
                grid-gap: 5%;

                img {
                    border-right: 5px solid $dark-grey;
                    border-bottom: 5px solid $dark-grey;
                    height: auto;
                    width: 100%;
                    border-top-left-radius: 10px;
                }

                .handle {
                    margin-top: auto;
                    margin-bottom: auto;
                    vertical-align: text-top;
                    text-align: left;
                    text-justify: top;
                    display: grid;
                    grid-gap: 10px;
                    grid-template-rows: 1fr 1fr;

                    .title {
                        color: rgb(155, 155, 155);
                        font-size: 1.3vw;
                    }
                }
            }



        }

        .user-link {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            padding: 30px;

            .link-item {
                display: grid;
                grid-template-columns: 20% 75%;
                grid-gap: 2%;
                background-color: $dark-grey;
                border-radius: 10px;
                margin: 5px;
                padding: 10px;


                div {
                    display: block;
                    text-align: left;
                    padding: auto;
                    vertical-align: middle;
                    justify-content: center;
                    align-content: center;
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-right: auto;

                    font-size: 1vw;
                }
            }
        }

    }

    .tools {
        min-height: 40vh;
        display: grid;
        grid-gap: 30px;
        padding-left: 5vw;
        padding-right: 5vw;

        @media (min-width: 800px) {
            grid-template-columns: 40% 29% 29%;
        }

        @media (max-width: 800px) {
            grid-template-rows: 100vh 100vh;
        }

        .tools-tab {
            background-color: $background;
            border-radius: 10px;
        }

        .role-section {
            display: grid;
            grid-template-rows: 5% 90%;
            grid-gap: 5%;
            padding-left: 20px;
            padding-right: 20px;
            height: 100%;
            margin-top: 30px;

            .roles {
                align-content: flex-start;
                flex-wrap: wrap;
                display: flex;

                div {
                    display: grid;
                    grid-template-columns: 10% 90%;
                    grid-gap: 3px;
                    align-self: flex-start;
                    text-decoration: none;
                    font-weight: normal;
                    border: 2px solid rgb(255, 0, 0);
                    border-radius: 15px;
                    height: 20px;
                    padding-top: 2.5px;
                    padding-bottom: 2.5px;
                    padding-left: 5px;
                    padding-right: 10px;
                    font-size: 15px;
                    margin-right: 5px;
                    margin-top: 4px;
                    text-align: center;
                    vertical-align: center;

                    p {
                        display: block;
                        border-radius: 15px;
                        width: 15px;
                        height: 15px;
                        text-align: center;
                        margin: auto;
                    }
                }
            }

        }

        .influence-info {

            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            padding: 30px;

            .item {
                display: grid;
                grid-template-columns: 45% 50%;
                grid-gap: 1%;


                div {
                    display: block;
                    text-align: left;
                    padding: auto;
                    vertical-align: middle;
                    justify-content: center;
                    align-content: center;
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-right: auto;

                    font-size: 1vw;
                }
            }
        
    }

    .influence-transfer {
        padding: 30px;

        .title {
            width: 100%;
            font-family: "Orbitron";
            font-size: 6em;
            margin-top: -120px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
            text-align: center;
            color: $yellow;
            text-shadow: #000000;
        }

        fieldset {
            border: 0;
        }

        .invalid-feedback {
            color: red;
            font-size: 0.8em;
            margin-bottom: 5px;
        }

        input[type=text],
        input[type=password],
        textarea,
        select {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;

            &.error {
                border: 2px solid red;
            }
        }

        textarea {
            min-height: 200px;
        }

        input[type=submit] {
            width: 100%;
            background-color: $blue;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 2em;
            font-family: $main-font;
            font-weight: bold;
            transition: all ease-in-out .3s;

        }

        input[type=submit]:hover {
            background-color: $yellow;
            color: black;
            transform: scale(1.03);
        }
    }
}

.system {
    min-height: 40vh;
    display: grid;
    grid-gap: 30px;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 30px;

    @media (min-width: 800px) {
        grid-template-columns: 50% 50%;
    }

    @media (max-width: 800px) {
        grid-template-rows: 100vh 100vh;
    }

    .system-tab {
        background-color: $background;
        border-radius: 10px;
    }
}

}