@import 'main';

.content-panel {
    min-height: 70vh;
    display: flex;
    padding: 40px;
    
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(40% 6%, 60% 6%, 65% 0, 100% 0, 100% 100%, 0 100%, 0 0, 35% 0);
    
    

    &.top {
        //clip-path: polygon(0 0, 100% 0, 100% 94%, 65% 94%, 60% 100%, 40% 100%, 35% 94%, 0 94%);
        margin-bottom: -6%;
        padding-bottom: calc(40px + 6%);
        
    }
    &.middle {
        //clip-path: polygon(0 0, 35% 0, 40% 6%, 60% 6%, 65% 0, 100% 0, 100% 94%, 65% 94%, 60% 100%, 40% 100%, 35% 94%, 0 94%);
        margin-bottom: -7%;
        padding-top: calc(40px + 6%);
        padding-bottom: calc(40px + 9%);
    }
    &.bottom {
        //clip-path: polygon(40% 6%, 60% 6%, 65% 0, 100% 0, 100% 100%, 0 100%, 0 0, 35% 0);
        padding-top: calc(40px + 6%);
    }

    @media (max-width: 1000px) {
        box-shadow: inset 0 100vh 40vw -20vw rgba(0, 0, 0, 0.747);
    }

    @media (min-width: 1000px) {

        .right-panel {
            margin-left: 30vw;
            clip-path: polygon(0 0, 40% 0, 45% 5%, 100% 5%, 100% 100%, 75% 100%, 70% 95%, 0 96%);
        }

        .left-panel {
            margin-right: 30vw;
            clip-path: polygon(0 5%, 55% 5%, 60% 0, 100% 0, 100% 95%, 35% 95%, 30% 100%, 0 100%);
        }

        &.right {
            box-shadow: inset -100vw 0 40vw -30vw rgba(0, 0, 0, 0.651);
            padding-left: 30vw;
        }

        &.left {
            box-shadow: inset 100vw 0 40vw -30vw rgba(0, 0, 0, 0.637);
            padding-right: 30vw;
        }
    }

    .text-zone {
        display: flex;
        flex-flow: column nowrap;
        margin: auto;
        background-color: $background-tr ;
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.534);
        //border-radius: 10px;
        padding-top: calc(10px + 5%);
        padding-bottom: calc(10px + 5%);

        .title {
            display: flex;
            gap: 10px;
            padding: 30px;
            align-content: center;
            flex-wrap: wrap;
            margin: auto;
            font-size: 2.6vw;
            font-weight: bold;
            text-justify: center;
            text-align: center;
            color: $blue;
            text-shadow: 0px 0px 8px black;

            @media (max-width: 1000px) {
                font-size: 1.8em;
            }

            span {
                color: $yellow;
                text-shadow: 0px 0px 8px black;
            }

        }

        .description {
            grid-row: 1fr;
            margin-left: auto;
            margin-right: auto;
            padding: 40px;
            // font-family: 'Roboto';
            font-weight: bold;
            //padding-top: 0;
            text-justify: center;
            text-align: justify;
            font-size: 1.7vw;
            line-height: 1.6em;

            @media (max-width: 1000px) {
                font-size: 1.3em;
            }

            color: white;
            text-shadow: 0px 0px 8px black;
        }
    }
}