@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --clip-width: 14px;
    --margin-info-default: -7px;
}


@mixin keyframes($name) {
    @-o-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-webkit-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

$blue: #0083ff;
$yellow: #fcff00;
$light-grey:#646464;
$dark-grey: #444444;
$dark-grey-tr: #414141be;
$background-tr: #363636d5;
$background: #363636;
$menu-font-color: rgb(255, 255, 255);
$menu-svg: url('/static/main/bottom-left.svg');
$main-font: 'Orbitron';

a {
    color: $yellow;
}

/* $blue: #0083ff;
$yellow: #fcff00;
$light-grey:#ffffff;
$dark-grey: #d4d4d4;
$background: #4164ff;
$menu-font-color: rgb(0, 0, 0);
$menu-svg: url('bottom-left-white.svg'); */


* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    height: 100%;
    position: absolute;
}

body {
    background: $background;
    /* background-image: url("CentauriSaiseiFujin.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover; */
    color: $menu-font-color;
    font-family: 'Orbitron';
    font-weight: bold;
    font-stretch: bold;
    margin: 0;
    margin-bottom: 200px;
    opacity: 0;
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #004d9650;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $yellow;
}

@media (min-width: 800px) {
    header {
        width: 100%;
        display: flex;
        justify-content: center;
        //background: $background;
        position: fixed;
        z-index: 1000;
        transition: all .2s ease-in-out;
        //box-shadow: 0px 0px 10px #000000;

        a {
            text-decoration: none;
            color: white;
        }

        .mobile-button {
            display: none;
        }

        .user-tab-mobile {
            display: none;
        }


        .banner {
            width: 20vw;
            padding: 10px;
            text-align: center;
            justify-content: center;

            img {
                //background: $light-grey;
                //width: 15%;
                display: block;
                margin: auto;
                height: 100%;
                max-height: 100px;
                text-align: center;
                transition: all .2s ease-in-out;
                //padding-top: 30px;
                //padding-bottom: 20px;
                //box-shadow: 0px 0px 10px #000000;

                &:hover {
                    transform: scale(1.05);
                }

            }
        }


        .user-tab {
            width: 40%;
            display: flex;
            justify-content: right;
            margin-right: 1%;

            .dropdown_menu {
                color: white;
            }
        }

        nav {
            width: 100%;
            display: flex;
            justify-content: left;
        }

        #wrapper .dropdown {
            display: block;
            float: left;
            text-align: center;
            width: 25%;
            height: 100%;
            transition: all ease-in-out .2s;
        }

        .login {
            font-size: 2.4em !important;
            color: $yellow !important;
            font-weight: bold !important;

            a {
                color: $yellow !important;
                text-decoration: none !important;
            }

            ul li {
                font-size: 0.4em;
                margin-right: 5%;
            }
        }

        .dropdown {
            padding: 20px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 64px;
            color: $menu-font-color;
            background: transparent;
            position: relative;
            font-size: 1.6em;
            perspective: 1000px;
            z-index: 100;
            text-shadow: 0px 0px 5px #000000;
            transition: all .2s ease-in-out;

            a {
                width: 100%;
                text-align: center;
            }


            &:hover {
                // background: $dark-grey;
                cursor: pointer;
                text-shadow: 0px 0px 5px $blue;
                transform: scale(1.05);


                .dropdown_menu li {
                    display: block;
                }
            }

            &::after {
                content: '';
                position: absolute;
                width: 0px;
                height: 5px;
                left: 50%;
                bottom: 0;
                background-color: $blue;
                transition: all ease-in-out .2s;
            }

            &:hover::after {
                width: 100%;
                left: 0;
            }
        }

        .dropdown_menu {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 100%;
            max-width: 150%;
            perspective: 1000px;
            z-index: -1;
            padding-top: 10px;


            li {
                display: none;
                color: $menu-font-color;
                text-align: center;
                background-color: $light-grey;
                padding: 10px 10px;
                font-size: 0.6em;
                opacity: 0;
                margin-top: -1px;
                border-left: 3px solid $blue;
                border-right: 3px solid $blue;
                text-shadow: 0px 0px 5px black;
                
                a {
                    color: white!important;
                    width: 100%;
                    
                }

                &:hover {
                    background-color: $dark-grey;
                    transition: border-width 0.2s ease-in-out;
                    border-left: 4px solid $yellow;
                    border-right: 4px solid $yellow;
                    text-shadow: 0px 0px 3px $blue;

                    /* &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 15%;
                    bottom: 15%;
                    left: 5px;
                    width: 3px;
                    height: 70%;
                    margin-right: 5px;
                    background-color: $yellow;
                } */

                    /* &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 15%;
                    bottom: 15%;
                    right: 5px;
                    width: 3px;
                    height: 70%;
                    margin-left: 5px;
                    background-color: $yellow;
                } */

                    .dropdown_menu--animated {
                        display: block;
                    }
                }
            }
        }

        .dropdown_menu--animated {
            display: none;

            li {
                display: block;
                opacity: 1;
            }
        }

        .last-item {
            border-bottom-left-radius: 1px;
            border-bottom-right-radius: 4px;
            position: relative;

            &:after {
                content: '';
                width: 40%;
                height: 1.7px;
                right: 0px;
                background: $blue;
                position: absolute;
                bottom: 0px;
                border-bottom-right-radius: 10px;
                border-left: 3px solid $blue;
            }

            &:before {
                content: '';
                background-image: $menu-svg;
                background-repeat: no-repeat;
                position: absolute;
                width: 60%;
                height: 100px;
                bottom: -99px;
                left: -2px;
            }
        }

        .first-item {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-top: 3px solid $blue;
        }

        @for $i from 1 to 10 {

            .dropdown_menu-4 .dropdown_item-#{$i} {
                transform-origin: top center;
                animation: scaleZ 300ms $i*60ms ease-in-out forwards;

            }

        }
    }
}

@media (max-width: 800px) {
    header {
        width: 100%;
        display: flex;
        justify-content: center;
        //background: $background;
        position: fixed;
        z-index: 1000;
        transition: all .2s ease-in-out;
        //box-shadow: 0px 0px 10px #000000;

        a {
            text-decoration: none;
            color: white;
        }

        .mobile-button {
            display: flex;
            width: 70vw;
            float: right;
            margin-top: 15px;

            img {
                margin-left: auto;
                float: right;
                height: 30px;
                height: 40px;
            }
        }

        .banner {
            float: left;
            width: 20vw;
            padding: 10px;
            text-align: center;
            justify-content: center;

            img {
                //background: $light-grey;
                //width: 15%;
                display: block;
                margin: auto;
                height: 100%;
                max-height: 100px;
                float: left;
                transition: all .2s ease-in-out;
                //padding-top: 30px;
                //padding-bottom: 20px;
                //box-shadow: 0px 0px 10px #000000;

                &:hover {
                    transform: scale(1.05);
                }

            }
        }

        .user-tab {
            display: none;
        }

        nav {
            width: 100vw;
            min-height: 100vh;
            display: none;
            position: absolute;
            background-color: $dark-grey;
            z-index: 1000;

            .mobile-button {
                display: flex;
                width: 100vw;
                text-align: center;
                justify-content: center;
                padding: auto;

                img {
                    margin-left: auto;
                    margin-right: auto;
                    height: 30px;
                    height: 40px;
                }
            }

            .dropdown {
                display: grid;
                grid-row: 1fr;
                color: white;
                text-decoration: none;
                font-size: 17px;
                text-align: center;
                width: 100vw;
                text-decoration: none;
                background-color: $dark-grey;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 1px;

                &:hover {
                    grid-row: 10fr;
                    background-color: $background;


                    .dropdown_menu {
                        display: grid;
                    }
                }

                .dropdown_menu {
                    display: none;
                    background-color: $light-grey;
                    z-index: 100000;
                    margin-bottom: 0.0001px;

                    li {
                        width: 100vw;
                        color: white;
                        text-decoration: none;
                        font-size: 17px;
                        display: relative;
                        background-color: $light-grey;
                        padding-top: 10px;
                        padding-bottom: 10px;

                        &:hover {
                            background-color: $dark-grey;
                        }



                    }
                }

            }
        }

        .login {
            font-size: 2.4em !important;
            color: $yellow !important;
            font-weight: bold !important;

            a {
                color: $yellow !important;
                text-decoration: none !important;
            }

            ul li {
                font-size: 0.4em;
                margin-right: 5%;
            }

        }


    }
}


@include keyframes(scaleZ) {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    80% {
        transform: scale(1.07);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@include keyframes(fadeInAnimation) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// =================== preloader =====================

.loader_bg {
    position: fixed;
    z-index: 999999999;
    background: $background;
    width: 100%;
    height: 100%;

    .test_loader {
        border: 0 solid transparent;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        position: absolute;
        top: calc(50vh - 75px);
        left: calc(50vw - 75px);

        &:before {
            animation-delay: .5s;
        }

        &:before,
        &:after {
            content: "";
            border: 1em solid $blue;
            border-radius: 50%;
            width: inherit;
            height: inherit;
            position: absolute;
            top: 0;
            left: 0;
            animation: loader 2s linear infinite;
            opacity: 0;
        }
    }

}

@include keyframes(loader) {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}