@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");
body {
  background: #374e59;
  color: #c06162;
  font-family: "Sen";
  margin-bottom: 200px;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.menu-container {
  margin-top: 20px;
}

.menu-container h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.menu-container:nth-child(3) {
  margin-top: 200px;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown {
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #c06162;
  background: #34495e;
  position: relative;
  font-size: 18px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  z-index: 100;
}

.dropdown:hover {
  background: #2980b9;
  cursor: pointer;
}

.dropdown:hover .dropdown_menu li {
  display: block;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  z-index: -1;
}

.dropdown_menu li {
  display: none;
  color: #fff;
  background-color: #34495e;
  padding: 10px 20px;
  font-size: 16px;
  opacity: 0;
}

.dropdown_menu li:hover {
  background-color: #2980b9;
}

.dropdown:hover .dropdown_menu--animated {
  display: block;
}

.dropdown_menu--animated {
  display: none;
}

.dropdown_menu--animated li {
  display: block;
  opacity: 1;
}

.dropdown_menu-4 .dropdown_item-1 {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: scaleZ 300ms 60ms ease-in-out forwards;
          animation: scaleZ 300ms 60ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-2 {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: scaleZ 300ms 120ms ease-in-out forwards;
          animation: scaleZ 300ms 120ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-3 {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: scaleZ 300ms 180ms ease-in-out forwards;
          animation: scaleZ 300ms 180ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-4 {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: scaleZ 300ms 240ms ease-in-out forwards;
          animation: scaleZ 300ms 240ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-5 {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: scaleZ 300ms 300ms ease-in-out forwards;
          animation: scaleZ 300ms 300ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-1 {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: scaleZ 300ms 60ms ease-in-out forwards;
          animation: scaleZ 300ms 60ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-2 {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: scaleZ 300ms 120ms ease-in-out forwards;
          animation: scaleZ 300ms 120ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-3 {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: scaleZ 300ms 180ms ease-in-out forwards;
          animation: scaleZ 300ms 180ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-4 {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: scaleZ 300ms 240ms ease-in-out forwards;
          animation: scaleZ 300ms 240ms ease-in-out forwards;
}

.dropdown_menu-4 .dropdown_item-5 {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: scaleZ 300ms 300ms ease-in-out forwards;
          animation: scaleZ 300ms 300ms ease-in-out forwards;
}
@-webkit-keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes downOut {
  0% {
    -webkit-transform: translateZ(200px) transLateY(40px);
            transform: translateZ(200px) transLateY(40px);
  }
  80% {
    -webkit-transform: translateZ(-10px) transLateY(0px);
            transform: translateZ(-10px) transLateY(0px);
  }
  100% {
    -webkit-transform: translateZ(0px) transLateY(0px);
            transform: translateZ(0px) transLateY(0px);
  }
}
@keyframes downOut {
  0% {
    -webkit-transform: translateZ(200px) transLateY(40px);
            transform: translateZ(200px) transLateY(40px);
  }
  80% {
    -webkit-transform: translateZ(-10px) transLateY(0px);
            transform: translateZ(-10px) transLateY(0px);
  }
  100% {
    -webkit-transform: translateZ(0px) transLateY(0px);
            transform: translateZ(0px) transLateY(0px);
  }
}
@-webkit-keyframes growOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes growOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes scaleZ {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scaleZ {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes scaleZ {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scaleZ {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}/*# sourceMappingURL=navbar.css.map */