@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  --clip-width: 14px;
  --margin-info-default: -7px;
}

a {
  color: #fcff00;
}

/* $blue: #0083ff;
$yellow: #fcff00;
$light-grey:#ffffff;
$dark-grey: #d4d4d4;
$background: #4164ff;
$menu-font-color: rgb(0, 0, 0);
$menu-svg: url('bottom-left-white.svg'); */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  min-height: 100vh;
}

body {
  background: #363636;
  /* background-image: url("CentauriSaiseiFujin.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover; */
  color: white;
  font-family: "Orbitron";
  font-weight: bold;
  font-stretch: bold;
  margin: 0;
  opacity: 0;
  -webkit-animation: fadeInAnimation ease 0.5s;
          animation: fadeInAnimation ease 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #004d9650;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fcff00;
}

@media (min-width: 800px) {
  header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    z-index: 1000;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  header a {
    text-decoration: none;
    color: white;
  }
  header .mobile-button {
    display: none;
  }
  header .user-tab-mobile {
    display: none;
  }
  header .banner {
    width: 20vw;
    padding: 10px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .banner img {
    display: block;
    margin: auto;
    height: 100%;
    max-height: 100px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  header .banner img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  header .user-tab {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    margin-right: 1%;
  }
  header .user-tab .dropdown_menu {
    color: white;
  }
  header nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  header #wrapper .dropdown {
    display: block;
    float: left;
    text-align: center;
    width: 25%;
    height: 100%;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
  }
  header .login {
    font-size: 2.4em !important;
    color: #fcff00 !important;
    font-weight: bold !important;
  }
  header .login a {
    color: #fcff00 !important;
    text-decoration: none !important;
  }
  header .login ul li {
    font-size: 0.4em;
    margin-right: 5%;
  }
  header .dropdown {
    padding: 20px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 64px;
    color: white;
    background: transparent;
    position: relative;
    font-size: 1.6em;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    z-index: 100;
    text-shadow: 0px 0px 5px #000000;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  header .dropdown a {
    width: 100%;
    text-align: center;
  }
  header .dropdown:hover {
    cursor: pointer;
    text-shadow: 0px 0px 5px #0083ff;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  header .dropdown:hover .dropdown_menu li {
    display: block;
  }
  header .dropdown::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 5px;
    left: 50%;
    bottom: 0;
    background-color: #0083ff;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
  }
  header .dropdown:hover::after {
    width: 100%;
    left: 0;
  }
  header .dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    max-width: 150%;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    z-index: -1;
    padding-top: 10px;
  }
  header .dropdown_menu li {
    display: none;
    color: white;
    text-align: center;
    background-color: #646464;
    padding: 10px 10px;
    font-size: 0.6em;
    opacity: 0;
    margin-top: -1px;
    border-left: 3px solid #0083ff;
    border-right: 3px solid #0083ff;
    text-shadow: 0px 0px 5px black;
  }
  header .dropdown_menu li a {
    color: white !important;
    width: 100%;
  }
  header .dropdown_menu li:hover {
    background-color: #444444;
    -webkit-transition: border-width 0.2s ease-in-out;
    transition: border-width 0.2s ease-in-out;
    border-left: 4px solid #fcff00;
    border-right: 4px solid #fcff00;
    text-shadow: 0px 0px 3px #0083ff;
    /* &:before {
        content: "";
        display: block;
        position: absolute;
        top: 15%;
        bottom: 15%;
        left: 5px;
        width: 3px;
        height: 70%;
        margin-right: 5px;
        background-color: $yellow;
    } */
    /* &:after {
        content: "";
        display: block;
        position: absolute;
        top: 15%;
        bottom: 15%;
        right: 5px;
        width: 3px;
        height: 70%;
        margin-left: 5px;
        background-color: $yellow;
    } */
  }
  header .dropdown_menu li:hover .dropdown_menu--animated {
    display: block;
  }
  header .dropdown_menu--animated {
    display: none;
  }
  header .dropdown_menu--animated li {
    display: block;
    opacity: 1;
  }
  header .last-item {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 4px;
    position: relative;
  }
  header .last-item:after {
    content: "";
    width: 40%;
    height: 1.7px;
    right: 0px;
    background: #0083ff;
    position: absolute;
    bottom: 0px;
    border-bottom-right-radius: 10px;
    border-left: 3px solid #0083ff;
  }
  header .last-item:before {
    content: "";
    background-image: url("/static/main/bottom-left.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 60%;
    height: 100px;
    bottom: -99px;
    left: -2px;
  }
  header .first-item {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 3px solid #0083ff;
  }
  header .dropdown_menu-4 .dropdown_item-1 {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-animation: scaleZ 300ms 60ms ease-in-out forwards;
            animation: scaleZ 300ms 60ms ease-in-out forwards;
  }
  header .dropdown_menu-4 .dropdown_item-2 {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-animation: scaleZ 300ms 120ms ease-in-out forwards;
            animation: scaleZ 300ms 120ms ease-in-out forwards;
  }
  header .dropdown_menu-4 .dropdown_item-3 {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-animation: scaleZ 300ms 180ms ease-in-out forwards;
            animation: scaleZ 300ms 180ms ease-in-out forwards;
  }
  header .dropdown_menu-4 .dropdown_item-4 {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-animation: scaleZ 300ms 240ms ease-in-out forwards;
            animation: scaleZ 300ms 240ms ease-in-out forwards;
  }
  header .dropdown_menu-4 .dropdown_item-5 {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-animation: scaleZ 300ms 300ms ease-in-out forwards;
            animation: scaleZ 300ms 300ms ease-in-out forwards;
  }
  header .dropdown_menu-4 .dropdown_item-6 {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-animation: scaleZ 300ms 360ms ease-in-out forwards;
            animation: scaleZ 300ms 360ms ease-in-out forwards;
  }
  header .dropdown_menu-4 .dropdown_item-7 {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-animation: scaleZ 300ms 420ms ease-in-out forwards;
            animation: scaleZ 300ms 420ms ease-in-out forwards;
  }
  header .dropdown_menu-4 .dropdown_item-8 {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-animation: scaleZ 300ms 480ms ease-in-out forwards;
            animation: scaleZ 300ms 480ms ease-in-out forwards;
  }
  header .dropdown_menu-4 .dropdown_item-9 {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-animation: scaleZ 300ms 540ms ease-in-out forwards;
            animation: scaleZ 300ms 540ms ease-in-out forwards;
  }
}
.notifications {
  position: fixed;
  z-index: 100000;
  top: 0px;
  left: 0px;
}
.notifications .alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  text-align: center;
  width: calc(100vw - 40px);
}
.notifications .alert.danger {
  background-color: red;
  color: black;
}
.notifications .alert.success {
  background-color: green;
  color: white;
}
.notifications .alert.warning {
  background-color: yellow;
  color: black;
}
.notifications .alert .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.notifications .alert .closebtn:hover {
  color: black;
}

@media (max-width: 800px) {
  header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    z-index: 1000;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  header a {
    text-decoration: none;
    color: white;
  }
  header .mobile-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70vw;
    float: right;
    margin-top: 15px;
  }
  header .mobile-button img {
    margin-left: auto;
    float: right;
    height: 30px;
    height: 40px;
  }
  header .banner {
    float: left;
    width: 20vw;
    padding: 10px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .banner img {
    display: block;
    margin: auto;
    height: 100%;
    max-height: 100px;
    float: left;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  header .banner img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  header .user-tab {
    display: none;
  }
  header nav {
    width: 100vw;
    min-height: 100vh;
    display: none;
    position: absolute;
    background-color: #444444;
    z-index: 1000;
  }
  header nav .mobile-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: auto;
  }
  header nav .mobile-button img {
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    height: 40px;
  }
  header nav .dropdown {
    display: grid;
    grid-row: 1fr;
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    width: 100vw;
    text-decoration: none;
    background-color: #444444;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1px;
  }
  header nav .dropdown:hover {
    grid-row: 10fr;
    background-color: #363636;
  }
  header nav .dropdown:hover .dropdown_menu {
    display: grid;
  }
  header nav .dropdown .dropdown_menu {
    display: none;
    background-color: #646464;
    z-index: 100000;
    margin-bottom: 0.0001px;
  }
  header nav .dropdown .dropdown_menu li {
    width: 100vw;
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: relative;
    background-color: #646464;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header nav .dropdown .dropdown_menu li:hover {
    background-color: #444444;
  }
  header .login {
    font-size: 2.4em !important;
    color: #fcff00 !important;
    font-weight: bold !important;
  }
  header .login a {
    color: #fcff00 !important;
    text-decoration: none !important;
  }
  header .login ul li {
    font-size: 0.4em;
    margin-right: 5%;
  }
}
@-webkit-keyframes scaleZ {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scaleZ {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loader_bg {
  position: fixed;
  z-index: 999999999;
  background: #363636;
  width: 100%;
  height: 100%;
}
.loader_bg .test_loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader_bg .test_loader:before {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.loader_bg .test_loader:before, .loader_bg .test_loader:after {
  content: "";
  border: 1em solid #0083ff;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
  opacity: 0;
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
main {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  width: 100vw;
  background-image: url("/static/texture.svg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
main .structure-menu {
  background: #363636;
  padding: 10px;
  position: relative;
  margin: auto;
  margin-top: 120px;
  border-radius: 5px;
}
main .structure-menu input {
  width: auto;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4px 8px;
  background: #444444;
  color: white;
  font-size: 25px;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}
main .structure-menu input:checked {
  background-image: linear-gradient(125deg, #0083ff, #7ac3ff);
  color: black;
  -webkit-box-shadow: 0 1px 1px #0000002e;
          box-shadow: 0 1px 1px #0000002e;
  text-shadow: 0 1px 0px #79485f7a;
}
main .structure-menu input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}
main .radio-menu {
  background: #363636;
  padding: 10px;
  position: relative;
  margin: 30px;
  margin: auto;
  border-radius: 5px;
}
main .radio-menu input {
  width: auto;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4px 8px;
  background: #444444;
  color: white;
  font-size: 25px;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}
main .radio-menu input:checked {
  background-image: linear-gradient(125deg, #0083ff, #7ac3ff);
  color: black;
  -webkit-box-shadow: 0 1px 1px #0000002e;
          box-shadow: 0 1px 1px #0000002e;
  text-shadow: 0 1px 0px #79485f7a;
}
main .radio-menu input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}
main .add-form {
  height: 10vh;
  display: grid;
  grid-gap: 30px;
  padding: 30px;
}
main .add-form .title {
  width: 100%;
  font-family: "Orbitron";
  font-size: 2em;
  margin-top: -120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  color: #fcff00;
  text-shadow: #000000;
}
main .add-form fieldset {
  border: 0;
}
main .add-form .invalid-feedback {
  color: red;
  font-size: 0.8em;
  margin-bottom: 5px;
}
main .add-form input[type=text],
main .add-form input[type=password],
main .add-form textarea,
main .add-form select {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main .add-form input[type=text].error,
main .add-form input[type=password].error,
main .add-form textarea.error,
main .add-form select.error {
  border: 2px solid red;
}
main .add-form textarea {
  min-height: 200px;
}
main .add-form input[type=submit] {
  width: 20%;
  background-color: #0083ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  font-family: "Orbitron";
  font-weight: bold;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
main .add-form input[type=submit]:hover {
  background-color: #fcff00;
  color: black;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
main .list-title {
  height: 10vh;
  display: grid;
  grid-gap: 30px;
  padding: 30px;
  margin-top: 20px;
}
main .list {
  min-height: 10vh;
  display: grid;
  grid-gap: 30px;
  padding: 30px;
  margin-top: 20px;
}
main .list .item {
  background-color: #444444;
  font-size: 1.6em;
  padding: 20px;
  border-radius: 10px;
}
main .list .user-item {
  background-color: #444444;
  font-size: 1.6em;
  padding: 20px;
  border-radius: 10px;
  min-height: 5vh;
}
main .list .user-item a {
  text-decoration: none;
  color: white;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}/*# sourceMappingURL=structure_manager.css.map */