
@media screen and (min-width: $small_screen) {
    .nav-menu .close, .sub-menu-toggle, #nav-button {
        display: none;
    }

}

@media screen and (max-width: $small_screen) {

    /*.nav-menu-wrap {
        max-width: 100vw;
        positioN: absolute;
        top: 100px;
        left: 0;
    */

        .nav-menu,
        .sub-menu {
            position: absolute;
            top: 80px;
            left: 0;
            max-width: 100vw;

            margin: 0px;
            padding: 0px;
            //position: relative;
            background: $dark-grey;
            display: flex;
            flex-direction: column;
        }

        .nav-menu {
            font-size: 100%;
            width: 100%;
            height: 0px;
            overflow: hidden;
            -webkit-transition: height 500ms linear;
            -o-transition: height 500ms linear;
            -moz-transition: height 500ms linear;
            transition: height 500ms linear;

            li {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                background: transparent;
                float: left;
                width: 100%;
                min-width: 300px;
                border-top: solid 1px $mid-grey;
                background: $dark-grey;

                @media screen and (max-width: 500px) {
                    width: 100vw;
                    min-width: 100px;
                }



                &:last-child {
                    border-bottom: 1px solid $mid-grey;
                }

                &>a {
                    display: block;
                    color: white;
                    text-decoration: none;
                    padding: 10px 15px;
                    position: relative;
                    float: left;
                    width: 100%;
                    -webkit-transition: all 300ms ease;
                    -moz-transition: all 300ms ease;
                    transition: all 300ms ease;

                    &:hover {
                        background: $yellow;
                    }
                }
            }


            .sub-menu-toggle {
                display: none;
                box-sizing: border-box;
                position: relative;
                top: 0px;
                right: 0px;
                height: 100%;
                color: #fff;
                background: $blue;
                display: inline-block;
                cursor: pointer;
                width: 20%;
                text-align: center;

                img {
                    height: 100%;
                }


                position: relative;
                top: 0px;
                right: 0px;
                color: #fff;
                background: $blue;
                display: inline-block;
                cursor: pointer;
                width: 20%;
                text-align: center;

                &:hover,
                &:active {
                    background: $yellow;
                }

                &:before {
                    display: inline-block;
                    -webkit-transition: all 300ms linear;
                    -o-transition: all 300ms linear;
                    -moz-transition: all 300ms linear;
                    -ms-transition: all 300ms linear;
                    transition: all 300ms linear;
                }

                .flip {
                    &:before {
                        -webkit-transform: rotate(-180deg);
                        -moz-transform: rotate(-180deg);
                        -o-transform: rotate(-180deg);
                        -ms-transform: rotate(-180deg);
                        transform: rotate(-180deg);
                    }
                }

                img {
                    transform: rotate(-90deg) scalex(0.8);
                }
            }


            .sub-menu {
                margin: 0px;
                padding: 0px;
                position: relative;
                background: $dark-grey;
                display: flex;
                flex-direction: column;

                display: block;
                width: 100%;
                position: absolute;
                top: 0px;
                left: 100%;
                -moz-transition: all 400ms ease-in;
                -webkit-transition: all 400ms ease-in;
                transition: all 400ms ease-in;
                z-index: 5;
                -moz-transform: translate3d(0%, 0px, 0px);
                -webkit-transform: translate3d(0%, 0px, 0px);
                -ms-transform: translate(0%, 0px);
                -o-transform: translate(0%, 0px);
                transform: translate3d(0%, 0px, 0px);

                .close {
                    display: block !important;
                    div {
                        padding: 10px 15px;
                        cursor: pointer;
                        background: $blue;
                        width: 100%;

                        i {
                            float: right;
                        }

                    }
                }


                &.active {
                    -moz-transform: translate3d(-100%, 0px, 0px);
                    -webkit-transform: translate3d(-100%, 0px, 0px);
                    -ms-transform: translate(-100%, 0px);
                    -o-transform: translate(-100%, 0px);
                    transform: translate3d(-100%, 0px, 0px);

                }
            }
        }

    //}

}