@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "Phage";
  src: url("/static/main/fonts/Phage_Regular.otf") format("opentype");
}
fieldset {
  border: 0;
}
fieldset .invalid-feedback {
  color: red;
  font-size: 1em;
  margin-bottom: 5px;
}
fieldset input[type=text],
fieldset input[type=password],
fieldset input[type=number],
fieldset select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
  font-family: "Montserrat";
  letter-spacing: 1.5px;
}
fieldset input[type=text]:focus,
fieldset input[type=password]:focus,
fieldset input[type=number]:focus,
fieldset select:focus {
  -webkit-animation-name: input_animation;
          animation-name: input_animation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
fieldset input[type=text].error,
fieldset input[type=password].error,
fieldset input[type=number].error,
fieldset select.error {
  border: 2px solid red;
}

input[type=submit], .submit {
  width: 100%;
  background-color: #0083ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2em;
  font-family: "Montserrat";
  font-weight: bold;
  transition: all ease-in-out 0.3s;
}
input[type=submit]:hover, .submit:hover {
  background-color: #fcff00;
  color: black;
  transform: scale(1.03);
}

.error-section {
  position: absolute;
  top: calc(15vh + 60px);
  left: 15vw;
  height: 70vh;
  width: 70vw;
  padding: auto;
  text-align: center;
}
.error-section h1 {
  color: #0083ff;
  font-size: 2.8em;
}
.error-section h1 span {
  color: #fcff00;
}
.error-section p {
  font-size: 1.3em;
}
.error-section img {
  height: 50vh;
  width: auto;
}
@-webkit-keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes scaleZ {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.07);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleZ {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.07);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 100px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 100px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fadeInUp {
  opacity: 0;
}
.fadeInUp.is-visible {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes input_animation {
  0% {
    transform: scaleY(1);
    transform: scalex(1);
  }
  50% {
    transform: scaleY(1.1);
    transform: scalex(1.005);
  }
  100% {
    transform: scaleY(1);
    transform: scalex(1);
  }
}
@keyframes input_animation {
  0% {
    transform: scaleY(1);
    transform: scalex(1);
  }
  50% {
    transform: scaleY(1.1);
    transform: scalex(1.005);
  }
  100% {
    transform: scaleY(1);
    transform: scalex(1);
  }
}
@-webkit-keyframes slideShow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes slideShow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@-webkit-keyframes side-infinite-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100vw + -250px*8));
  }
}
@keyframes side-infinite-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100vw + -250px*8));
  }
}
.notifications {
  position: fixed;
  z-index: 100000;
  top: 0px;
  left: 0px;
}
.notifications .alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  text-align: center;
  width: calc(100vw - 40px);
}
.notifications .alert.danger {
  background-color: red;
  color: black;
}
.notifications .alert.success {
  background-color: green;
  color: white;
}
.notifications .alert.warning {
  background-color: yellow;
  color: black;
}
.notifications .alert .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.notifications .alert .closebtn:hover {
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 77, 150, 0.3137254902);
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fcff00;
}

.loader_bg {
  position: fixed;
  z-index: 99999999999;
  background-color: #181818;
  width: 100%;
  height: 100%;
  padding: auto;
  padding-top: calc(50vh - 100px);
  text-align: center;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
}
.loader_bg .lds-dual-ring {
  display: inline-block;
  width: 200px;
  height: 200px;
}
.loader_bg .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
  margin: 20px;
  border-radius: 50%;
  border: 15px solid #0083ff;
  border-color: #0083ff transparent #fcff00 transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}
@-webkit-keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.connection {
  min-height: 100%;
  width: 100vw;
  grid-column: 1fr;
  background-image: url("/static/presentation/main/line.webp");
  background-size: cover;
  padding: auto;
}
.connection .connection-zone {
  height: 100vh;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}
.connection .connection-zone .connection-form {
  border-radius: 20px;
  background-color: rgba(34, 34, 34, 0.7960784314);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  padding: 50px;
  box-shadow: 0px 0px 10px #000000;
  text-shadow: 0px 0px 5px #000000;
  position: relative;
  margin: 10%;
}
.connection .connection-zone .connection-form .discord {
  display: grid;
  position: relative;
  width: 120px;
  height: auto;
  background-color: #000000;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: auto;
}
.connection .connection-zone .connection-form .discord img {
  width: 100%;
  height: auto;
}
.connection .connection-zone .connection-form .discord:hover {
  transform: scale(1.1);
}
.connection .connection-zone .connection-form .title {
  width: 100%;
  font-family: "Orbitron";
  font-size: 5em;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  color: #fcff00;
  text-shadow: #000000;
}
.connection .connection-zone .connection-form .info {
  height: 50px;
  width: 102%;
  text-align: center;
  padding-top: 10px;
  margin-left: -10px;
  margin-top: -10px;
  position: relative;
}
.connection .connection-zone .connection-form .info:after {
  content: "Please put your email inside your RSI bio";
  position: absolute;
  top: 15px;
  left: 55px;
  font-size: 1.3em;
}
.connection .connection-zone .connection-form .info .tooltip {
  font-family: Arial, Helvetica, sans-serif;
  background: #000000;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.connection .connection-zone .connection-form .info .tooltip.top-right {
  -webkit-clip-path: circle(var(--clip-width) at 20px 20px);
          clip-path: circle(var(--clip-width) at 20px 20px);
  left: 6px;
}
.connection .connection-zone .connection-form .info .tooltip:hover {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
  z-index: 2;
}
.connection .connection-zone .connection-form .info .tooltip:hover::before,
.connection .connection-zone .connection-form .info .tooltip:hover::after {
  background-color: white;
  color: #000000;
  border: none;
}
.connection .connection-zone .connection-form .info .tooltip::before,
.connection .connection-zone .connection-form .info .tooltip::after {
  margin: 5px;
}
.connection .connection-zone .connection-form .info .tooltip.top-left::before,
.connection .connection-zone .connection-form .info .tooltip.top-right::before,
.connection .connection-zone .connection-form .info .tooltip.bottom-left::after,
.connection .connection-zone .connection-form .info .tooltip.bottom-right::after {
  content: "i";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border: 2px solid currentColor;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 1px;
  transition: all 0.1s ease-in-out;
  shape-outside: circle(50%);
}
.connection .connection-zone .connection-form .info .tooltip.top-right::before {
  margin-left: var(--margin-info-default);
  margin-top: var(--margin-info-default);
}
.connection .connection-zone .connection-form .info .tooltip-text {
  line-height: 1.3;
}

.content-panel {
  min-height: 70vh;
  display: flex;
  padding: 40px;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(40% 6%, 60% 6%, 65% 0, 100% 0, 100% 100%, 0 100%, 0 0, 35% 0);
          clip-path: polygon(40% 6%, 60% 6%, 65% 0, 100% 0, 100% 100%, 0 100%, 0 0, 35% 0);
}
.content-panel.top {
  margin-bottom: -6%;
  padding-bottom: calc(40px + 6%);
}
.content-panel.middle {
  margin-bottom: -7%;
  padding-top: calc(40px + 6%);
  padding-bottom: calc(40px + 9%);
}
.content-panel.bottom {
  padding-top: calc(40px + 6%);
}
@media (max-width: 1000px) {
  .content-panel {
    box-shadow: inset 0 100vh 40vw -20vw rgba(0, 0, 0, 0.747);
  }
}
@media (min-width: 1000px) {
  .content-panel .right-panel {
    margin-left: 30vw;
    -webkit-clip-path: polygon(0 0, 40% 0, 45% 5%, 100% 5%, 100% 100%, 75% 100%, 70% 95%, 0 96%);
            clip-path: polygon(0 0, 40% 0, 45% 5%, 100% 5%, 100% 100%, 75% 100%, 70% 95%, 0 96%);
  }
  .content-panel .left-panel {
    margin-right: 30vw;
    -webkit-clip-path: polygon(0 5%, 55% 5%, 60% 0, 100% 0, 100% 95%, 35% 95%, 30% 100%, 0 100%);
            clip-path: polygon(0 5%, 55% 5%, 60% 0, 100% 0, 100% 95%, 35% 95%, 30% 100%, 0 100%);
  }
  .content-panel.right {
    box-shadow: inset -100vw 0 40vw -30vw rgba(0, 0, 0, 0.651);
    padding-left: 30vw;
  }
  .content-panel.left {
    box-shadow: inset 100vw 0 40vw -30vw rgba(0, 0, 0, 0.637);
    padding-right: 30vw;
  }
}
.content-panel .text-zone {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  background-color: rgba(24, 24, 24, 0.7607843137);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.534);
  padding: 20px;
}
@media (min-width: 1000px) {
  .content-panel .text-zone {
    padding-top: calc(20px + 5%);
    padding-bottom: calc(20px + 5%);
  }
}
@media (max-width: 1000px) {
  .content-panel .text-zone {
    border-radius: 20px;
  }
}
.content-panel .text-zone .title {
  display: flex;
  gap: 10px;
  padding: 30px;
  align-content: center;
  flex-wrap: wrap;
  margin: auto;
  font-size: 2.6vw;
  font-weight: bold;
  text-justify: center;
  text-align: center;
  color: #0083ff;
  text-shadow: 0px 0px 8px black;
}
@media (max-width: 1000px) {
  .content-panel .text-zone .title {
    font-size: 1.8em;
  }
}
.content-panel .text-zone .title span {
  color: #fcff00;
  text-shadow: 0px 0px 8px black;
}
.content-panel .text-zone .description {
  grid-row: 1fr;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  font-weight: bold;
  text-justify: center;
  text-align: justify;
  font-size: 1.7vw;
  line-height: 1.6em;
  color: white;
  text-shadow: 0px 0px 8px black;
}
@media (max-width: 1000px) {
  .content-panel .text-zone .description {
    font-size: 1.3em;
  }
}

@media (min-width: 800px) {
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    transition: all 0.2s ease-in-out;
  }
  header a {
    text-decoration: none;
    color: white;
  }
  header .mobile-button {
    display: none;
  }
  header .user-tab-mobile {
    display: none;
  }
  header .banner {
    width: 20vw;
    padding: 10px;
    text-align: center;
    justify-content: center;
  }
  header .banner img {
    display: block;
    margin: auto;
    height: 100%;
    max-height: 100px;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  header .banner img:hover {
    transform: scale(1.05);
  }
  header .user-tab {
    width: 40%;
    display: flex;
    justify-content: right;
    margin-right: 1%;
  }
  header .user-tab .dropdown_menu {
    color: white;
  }
  header nav {
    width: 100%;
    display: flex;
    justify-content: left;
  }
  header #wrapper .dropdown {
    display: block;
    float: left;
    text-align: center;
    width: 25%;
    height: 100%;
    transition: all ease-in-out 0.2s;
  }
  header .login {
    font-size: 2.4em !important;
    color: #fcff00 !important;
    font-weight: bold !important;
  }
  header .login a {
    color: #fcff00 !important;
    text-decoration: none !important;
  }
  header .login ul li {
    font-size: 0.4em;
    margin-right: 5%;
  }
  header .dropdown {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    color: rgb(255, 255, 255);
    background: transparent;
    position: relative;
    font-size: 1.6em;
    perspective: 1000px;
    z-index: 100;
    text-shadow: 0px 0px 5px #000000;
    transition: all 0.2s ease-in-out;
  }
  header .dropdown a {
    width: 100%;
    text-align: center;
  }
  header .dropdown:hover {
    cursor: pointer;
    text-shadow: 0px 0px 5px #0083ff;
    transform: scale(1.05);
  }
  header .dropdown:hover .dropdown_menu li {
    display: block;
  }
  header .dropdown::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 5px;
    left: 50%;
    bottom: 0;
    background-color: #0083ff;
    transition: all ease-in-out 0.2s;
  }
  header .dropdown:hover::after {
    width: 100%;
    left: 0;
  }
  header .dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    max-width: 150%;
    perspective: 1000px;
    z-index: -1;
    padding-top: 10px;
  }
  header .dropdown_menu li {
    display: none;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: #444444;
    padding: 10px 10px;
    font-size: 0.6em;
    opacity: 0;
    margin-top: -1px;
    border-left: 3px solid #0083ff;
    border-right: 3px solid #0083ff;
    text-shadow: 0px 0px 5px black;
    cursor: pointer;
  }
  header .dropdown_menu li a {
    color: white !important;
    width: 100%;
  }
  header .dropdown_menu li:hover {
    background-color: #323232;
    transition: border-width 0.2s ease-in-out;
    border-left: 4px solid #fcff00;
    border-right: 4px solid #fcff00;
    text-shadow: 0px 0px 3px #0083ff;
    /* &:before {
        content: "";
        display: block;
        position: absolute;
        top: 15%;
        bottom: 15%;
        left: 5px;
        width: 3px;
        height: 70%;
        margin-right: 5px;
        background-color: $yellow;
    } */
    /* &:after {
        content: "";
        display: block;
        position: absolute;
        top: 15%;
        bottom: 15%;
        right: 5px;
        width: 3px;
        height: 70%;
        margin-left: 5px;
        background-color: $yellow;
    } */
  }
  header .dropdown_menu li:hover .dropdown_menu--animated {
    display: block;
  }
  header .dropdown_menu--animated {
    display: none;
  }
  header .dropdown_menu--animated li {
    display: block;
    opacity: 1;
  }
  header .last-item {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 4px;
    position: relative;
  }
  header .last-item:after {
    content: "";
    width: 40%;
    height: 1.7px;
    right: 0px;
    background: #0083ff;
    position: absolute;
    bottom: 0px;
    border-bottom-right-radius: 10px;
    border-left: 3px solid #0083ff;
  }
  header .last-item:before {
    content: "";
    background-image: url("/static/presentation/main/bottom-left.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 60%;
    height: 100px;
    bottom: -99px;
    left: -2px;
  }
  header .first-item {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 3px solid #0083ff;
  }
  header .dropdown_menu-4 .dropdown_item-1 {
    transform-origin: top center;
    -webkit-animation: scaleZ 300ms 60ms ease-in-out forwards;
            animation: scaleZ 300ms 60ms ease-in-out forwards;
  }
  header .dropdown_menu-4 .dropdown_item-2 {
    transform-origin: top center;
    -webkit-animation: scaleZ 300ms 120ms ease-in-out forwards;
            animation: scaleZ 300ms 120ms ease-in-out forwards;
  }
  header .dropdown_menu-4 .dropdown_item-3 {
    transform-origin: top center;
    -webkit-animation: scaleZ 300ms 180ms ease-in-out forwards;
            animation: scaleZ 300ms 180ms ease-in-out forwards;
  }
  header .dropdown_menu-4 .dropdown_item-4 {
    transform-origin: top center;
    -webkit-animation: scaleZ 300ms 240ms ease-in-out forwards;
            animation: scaleZ 300ms 240ms ease-in-out forwards;
  }
  header .dropdown_menu-4 .dropdown_item-5 {
    transform-origin: top center;
    -webkit-animation: scaleZ 300ms 300ms ease-in-out forwards;
            animation: scaleZ 300ms 300ms ease-in-out forwards;
  }
  header .dropdown_menu-4 .dropdown_item-6 {
    transform-origin: top center;
    -webkit-animation: scaleZ 300ms 360ms ease-in-out forwards;
            animation: scaleZ 300ms 360ms ease-in-out forwards;
  }
  header .dropdown_menu-4 .dropdown_item-7 {
    transform-origin: top center;
    -webkit-animation: scaleZ 300ms 420ms ease-in-out forwards;
            animation: scaleZ 300ms 420ms ease-in-out forwards;
  }
  header .dropdown_menu-4 .dropdown_item-8 {
    transform-origin: top center;
    -webkit-animation: scaleZ 300ms 480ms ease-in-out forwards;
            animation: scaleZ 300ms 480ms ease-in-out forwards;
  }
  header .dropdown_menu-4 .dropdown_item-9 {
    transform-origin: top center;
    -webkit-animation: scaleZ 300ms 540ms ease-in-out forwards;
            animation: scaleZ 300ms 540ms ease-in-out forwards;
  }
}
@media (max-width: 800px) {
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    transition: all 0.2s ease-in-out;
  }
  header a {
    text-decoration: none;
    color: white;
  }
  header .mobile-button {
    display: flex;
    width: 70vw;
    float: right;
    margin-top: 15px;
  }
  header .mobile-button img {
    margin-left: auto;
    float: right;
    height: 30px;
    height: 40px;
  }
  header .banner {
    float: left;
    width: 20vw;
    padding: 10px;
    text-align: center;
    justify-content: center;
  }
  header .banner img {
    display: block;
    margin: auto;
    height: 100%;
    max-height: 100px;
    float: left;
    transition: all 0.2s ease-in-out;
  }
  header .banner img:hover {
    transform: scale(1.05);
  }
  header .user-tab {
    display: none;
  }
  header nav {
    width: 100vw;
    min-height: 100vh;
    display: none;
    position: absolute;
    background-color: #222222;
    z-index: 1000;
  }
  header nav .mobile-button {
    display: flex;
    width: 100vw;
    text-align: center;
    justify-content: center;
    padding: auto;
  }
  header nav .mobile-button img {
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    height: 40px;
  }
  header nav .dropdown {
    display: grid;
    grid-row: 1fr;
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    width: 100vw;
    text-decoration: none;
    background-color: #222222;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1px;
  }
  header nav .dropdown:hover {
    grid-row: 10fr;
    background-color: #181818;
  }
  header nav .dropdown:hover .dropdown_menu {
    display: grid;
  }
  header nav .dropdown .dropdown_menu {
    display: none;
    background-color: #323232;
    z-index: 100000;
    margin-bottom: 0.0001px;
  }
  header nav .dropdown .dropdown_menu li {
    width: 100vw;
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: relative;
    background-color: #323232;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header nav .dropdown .dropdown_menu li:hover {
    background-color: #222222;
  }
  header .login {
    font-size: 2.4em !important;
    color: #fcff00 !important;
    font-weight: bold !important;
  }
  header .login a {
    color: #fcff00 !important;
    text-decoration: none !important;
  }
  header .login ul li {
    font-size: 0.4em;
    margin-right: 5%;
  }
}
.hero {
  height: 100vh;
  width: 100vw;
  background-color: #181818;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% bottom;
  padding: auto;
  text-align: center;
  grid-column: 1fr;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  box-shadow: inset 0 300px 100px -7px rgba(0, 0, 0, 0.4);
}
.hero.landing::before {
  content: "";
  background-image: url("/static/presentation/landing_page/cool_logo.svg");
  background-size: cover;
  z-index: 5;
  width: 80vw;
  height: 30vw;
  position: absolute;
  top: calc(50vh - 15vw);
  left: 10vw;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0;
}
.hero .dep-logo {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  padding: auto;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-family: "Orbitron";
  font-weight: bold;
  top: 0;
  left: 0;
  font-size: 6vw;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  opacity: 0;
}
.hero .dep-logo svg {
  align-items: center;
  height: 30vw;
  width: 30vw;
}
.hero .pic-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.hero figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  /*animation*/
  animation: slideShow 24s linear infinite 0s;
  -o-animation: slideShow 24s linear infinite 0s;
  -moz-animation: slideShow 24s linear infinite 0s;
  -webkit-animation: slideShow 24s linear infinite 0s;
}
.hero figurecaption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(0, 0, 0);
}
.hero .pic-1 {
  animation-delay: 0s;
  -o-animation-delay: 0s;
  -moz--animation-delay: 0s;
  -webkit-animation-delay: 0s;
  background-size: cover;
}
.hero .pic-2 {
  animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz--animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background-size: cover;
}
.hero .pic-3 {
  animation-delay: 12s;
  -o-animation-delay: 12s;
  -moz--animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background-size: cover;
}
.hero .pic-4 {
  animation-delay: 18s;
  -o-animation-delay: 18s;
  -moz--animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background-size: cover;
}
.hero .pic-1 {
  opacity: 1;
}

.link-info {
  min-height: 50vh;
  padding: auto;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 10vw;
  padding: 10vh;
  padding-top: 60px;
  align-items: center;
  justify-content: center;
  padding-bottom: calc(60px + 6%);
  background-image: url("/static/presentation/landing_page/steel.webp");
  background-size: cover;
  background-position-y: 40%;
  box-shadow: inset 1px 100px 100px -100px rgb(0, 0, 0);
  margin-bottom: -6%;
}
.link-info.middle {
  -webkit-clip-path: polygon(40% 6%, 60% 6%, 65% 0, 100% 0, 100% 100%, 0 100%, 0 0, 35% 0);
          clip-path: polygon(40% 6%, 60% 6%, 65% 0, 100% 0, 100% 100%, 0 100%, 0 0, 35% 0);
  padding-top: calc(60px + 5%);
}
@media (max-width: 1000px) {
  .link-info.middle {
    -webkit-clip-path: polygon(40% 2%, 60% 2%, 65% 0, 100% 0, 100% 100%, 0 100%, 0 0, 35% 0);
            clip-path: polygon(40% 2%, 60% 2%, 65% 0, 100% 0, 100% 100%, 0 100%, 0 0, 35% 0);
  }
}
@media (max-width: 1000px) {
  .link-info {
    flex-flow: column nowrap;
    gap: 60px;
  }
}
.link-info .link-item {
  display: flex;
  flex-flow: column nowrap;
  grid-template-rows: 30% 10% 60%;
  grid-gap: 20px;
  background-color: rgba(24, 24, 24, 0.7607843137);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  padding: 30px;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.534);
  transition: 0.2s ease-out;
}
.link-info .link-item:hover {
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.534);
}
.link-info .link-item .logo {
  width: 200px;
  height: 200px;
  grid-row: 1fr;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
}
.link-info .link-item .logo:hover {
  transform: scale(1.15);
}
.link-info .link-item .logo img {
  width: 100%;
  height: auto;
}
.link-info .link-item .title {
  font-size: 1.8em;
  color: #fcff00;
  text-shadow: 0px 0px 8px black;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}
.link-info .link-item .title:hover {
  transform: scale(1.15);
}
.link-info .link-item .description {
  max-width: 60vw;
  grid-row: 1fr;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0px 0px 8px black;
}

.side_slide_presentation {
  position: relative;
  min-height: 60vh;
  padding: auto;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 10vw;
  padding: 10vh;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: calc(60px + 6%);
  background-image: url("/static/presentation/landing_page/crusader.webp");
  background-size: cover;
  background-position-y: 40%;
  box-shadow: inset 1px 100px 100px -100px rgb(0, 0, 0);
  margin-bottom: -6%;
  overflow: hidden;
}
.side_slide_presentation h1 {
  position: absolute;
  left: 25vw;
  top: 30px;
  width: 50vw;
  font-size: 5vw;
  color: #181818;
  font-family: "Orbitron";
  text-align: center;
}
@media (max-width: 1000px) {
  .side_slide_presentation h1 {
    font-size: 10vw;
    left: 10vw;
    width: 80vw;
  }
}
.side_slide_presentation .slide-item {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  grid-template-rows: 30% 10% 60%;
  grid-gap: 20px;
  background-color: rgba(24, 24, 24, 0.7607843137);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  padding: 30px;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.534);
  transition: 0.2s ease-out;
  min-height: 30vh;
  top: 28%;
}
.side_slide_presentation .slide-item.item-1 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-2 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-3 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-4 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-5 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-6 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-7 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-8 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 21s;
          animation-delay: 21s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-9 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-10 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 27s;
          animation-delay: 27s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-11 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-12 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 33s;
          animation-delay: 33s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-13 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 36s;
          animation-delay: 36s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-14 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 39s;
          animation-delay: 39s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-15 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 42s;
          animation-delay: 42s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-16 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 45s;
          animation-delay: 45s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-17 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 48s;
          animation-delay: 48s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-18 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 51s;
          animation-delay: 51s;
  right: -300px;
}
.side_slide_presentation .slide-item.item-19 {
  -webkit-animation: side-infinite-move 24s linear infinite;
          animation: side-infinite-move 24s linear infinite;
  -webkit-animation-delay: 54s;
          animation-delay: 54s;
  right: -300px;
}
.side_slide_presentation .slide-item:hover {
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.534);
}
.side_slide_presentation .slide-item .logo {
  width: 200px;
  height: 200px;
  grid-row: 1fr;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
}
.side_slide_presentation .slide-item .logo:hover {
  transform: scale(1.15);
}
.side_slide_presentation .slide-item .logo svg {
  width: 100%;
  height: auto;
}
.side_slide_presentation .slide-item .title {
  font-size: 1.6em;
  color: #fcff00;
  text-shadow: 0px 0px 8px black;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}
.side_slide_presentation .slide-item .title a {
  text-decoration: none;
  color: none;
}
.side_slide_presentation .slide-item .title:hover {
  transform: scale(1.15);
}

a {
  color: #fcff00;
}

:root {
  --clip-width: 14px;
  --margin-info-default: -7px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  min-height: 100vh;
}

body {
  background: #181818;
  background-image: url("/static/textures/texture.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-weight: bold;
  font-stretch: bold;
  margin: 0;
  opacity: 0;
  -webkit-animation: fadeInAnimation ease 0.5s;
          animation: fadeInAnimation ease 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  overflow: overlay;
}

main {
  display: grid;
  grid-gap: 0px;
  width: 100%;
}

body {
  background-image: url("/static/texture.svg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

main {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  width: 100vw;
}
main .structure-menu {
  background: #181818;
  padding: 10px;
  position: relative;
  margin: auto;
  margin-top: 120px;
  border-radius: 5px;
}
main .structure-menu input {
  width: auto;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4px 8px;
  background: #222222;
  color: white;
  font-size: 25px;
  transition: all 100ms linear;
}
main .structure-menu input:checked {
  background-image: linear-gradient(125deg, #0083ff, rgb(122, 195, 255));
  color: black;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1803921569);
  text-shadow: 0 1px 0px rgba(121, 72, 95, 0.4784313725);
}
main .structure-menu input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}
main .radio-menu {
  background: #181818;
  padding: 10px;
  position: relative;
  margin: 30px;
  margin: auto;
  max-width: 90vw;
  border-radius: 5px;
}
main .radio-menu input {
  width: auto;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4px 8px;
  background: #222222;
  color: white;
  font-size: 25px;
  transition: all 100ms linear;
}
main .radio-menu input:checked {
  background-image: linear-gradient(125deg, #0083ff, rgb(122, 195, 255));
  color: black;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1803921569);
  text-shadow: 0 1px 0px rgba(121, 72, 95, 0.4784313725);
}
main .radio-menu input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}
main .search-form {
  height: 10vh;
  display: grid;
  grid-gap: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}
main .search-form .title {
  width: 100%;
  font-family: "Orbitron";
  font-size: 2em;
  margin-top: -120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  color: #fcff00;
  text-shadow: #000000;
}
main .search-form fieldset {
  border: 0;
}
main .search-form .invalid-feedback {
  color: red;
  font-size: 0.8em;
  margin-bottom: 5px;
}
main .search-form input[type=text],
main .search-form input[type=password],
main .search-form textarea,
main .search-form select {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
main .search-form input[type=text].error,
main .search-form input[type=password].error,
main .search-form textarea.error,
main .search-form select.error {
  border: 2px solid red;
}
main .search-form textarea {
  min-height: 200px;
}
main .search-form input[type=submit] {
  width: 20%;
  background-color: #0083ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  font-family: "Montserrat";
  font-weight: bold;
  transition: all ease-in-out 0.3s;
}
main .search-form input[type=submit]:hover {
  background-color: #fcff00;
  color: black;
  transform: scale(1.01);
}
main .add-form {
  height: 10vh;
  display: grid;
  grid-gap: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}
main .add-form .title {
  width: 100%;
  font-family: "Orbitron";
  font-size: 2em;
  margin-top: -120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  color: #fcff00;
  text-shadow: #000000;
}
main .add-form fieldset {
  border: 0;
}
main .add-form .invalid-feedback {
  color: red;
  font-size: 0.8em;
  margin-bottom: 5px;
}
main .add-form input[type=text],
main .add-form input[type=password],
main .add-form textarea,
main .add-form select {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
main .add-form input[type=text].error,
main .add-form input[type=password].error,
main .add-form textarea.error,
main .add-form select.error {
  border: 2px solid red;
}
main .add-form textarea {
  min-height: 200px;
}
main .add-form input[type=submit] {
  width: 20%;
  background-color: #0083ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  font-family: "Montserrat";
  font-weight: bold;
  transition: all ease-in-out 0.3s;
}
main .add-form input[type=submit]:hover {
  background-color: #fcff00;
  color: black;
  transform: scale(1.01);
}
main .list-title {
  padding-top: 30px;
  padding-left: 60px;
}
main .list {
  min-height: 10vh;
  display: grid;
  grid-gap: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  margin-top: 20px;
  /* .item {
      background-color: $dark-grey;
      font-size: 1.6em;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      vertical-align: middle;

      form {
          width: 50vw;
          display: flex;
      }


      .invalid-feedback {
          color: red;
          font-size: 0.8em;
          margin-bottom: 5px;
      }

      input[type=text],
      input[type=password],
      textarea,
      select {
          display: flex;
          min-width: 15%;
          font-size: 1em;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          font-family: "Orbitron";
          Font-weight: bold;
          border: none;
          background-color: transparent;
          border-radius: 4px;
          box-sizing: border-box;

          &.error {
              border: 2px solid red;
          }
      }

      #update_color-rule {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          text-decoration: none;
          list-style-type: none;
          font-size: 0.5em;

          input[type=radio] {

              &:checked {
                  background-image: linear-gradient(125deg, $blue, rgb(122, 195, 255));
                  color: black;
                  box-shadow: 0 1px 1px #0000002e;
                  text-shadow: 0 1px 0px #79485f7a;
              }


              &:before {
                  content: attr(label);
                  display: inline-block;
                  text-align: center;
                  width: 100%;
              }
          }
      }

      input[type=submit] {
          width: 15%;
          height: 50px;
          min-width: 100px;
          background-color: $blue;
          color: white;
          padding: 10px 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 0.6em;
          font-family: $main-font;
          font-weight: bold;
          transition: all ease-in-out .3s;
          margin-left: auto;
          margin-top: auto;
          margin-bottom: auto;


      }

      input[type=submit]:hover {
          background-color: $yellow;
          color: black;
          transform: scale(1.01);
      }
  } */
}
main .list .item {
  background-color: #222222;
  font-size: 1.6em;
  padding: 20px;
  border-radius: 10px;
  min-height: 5vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main .list .item a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: middle;
}
main .list .item form {
  width: 50vw;
  display: flex;
}
main .list .item .invalid-feedback {
  color: red;
  font-size: 0.8em;
  margin-bottom: 5px;
}
main .list .item input[type=text],
main .list .item input[type=password],
main .list .item textarea,
main .list .item select {
  display: flex;
  min-width: 15%;
  font-size: 1em;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  font-family: "Orbitron";
  Font-weight: bold;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
}
main .list .item input[type=text].error,
main .list .item input[type=password].error,
main .list .item textarea.error,
main .list .item select.error {
  border: 2px solid red;
}
main .list .item #update_color-rule {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-decoration: none;
  list-style-type: none;
  font-size: 0.5em;
}
main .list .item #update_color-rule input[type=radio]:checked {
  background-image: linear-gradient(125deg, #0083ff, rgb(122, 195, 255));
  color: black;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1803921569);
  text-shadow: 0 1px 0px rgba(121, 72, 95, 0.4784313725);
}
main .list .item #update_color-rule input[type=radio]:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}
main .list .item input[type=submit] {
  width: 15%;
  height: 50px;
  min-width: 100px;
  background-color: #0083ff;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.6em;
  font-family: "Montserrat";
  font-weight: bold;
  transition: all ease-in-out 0.3s;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
main .list .item input[type=submit]:hover {
  background-color: #fcff00;
  color: black;
  transform: scale(1.01);
}
main .list .item .item-dropdown {
  width: 100%;
  display: none;
  background-color: #222222;
  font-size: 1.6em;
  padding: 20px;
  border-radius: 10px;
  min-height: 5vh;
  transition: ease-in-out;
  flex-wrap: wrap;
}
main .list .item .item-dropdown fieldset {
  border: 0;
}
main .list .item .item-dropdown fieldset .invalid-feedback {
  color: red;
  font-size: 1em;
  margin-bottom: 5px;
}
main .list .item .item-dropdown input[type=text],
main .list .item .item-dropdown input[type=password],
main .list .item .item-dropdown select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
  font-family: "Orbitron";
  letter-spacing: 1.5px;
}
main .list .item .item-dropdown input[type=text].error,
main .list .item .item-dropdown input[type=password].error,
main .list .item .item-dropdown select.error {
  border: 2px solid red;
}
main .list .item .item-dropdown input[type=submit] {
  width: 100%;
  background-color: #0083ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2em;
  font-family: "Montserrat";
  font-weight: bold;
  transition: all ease-in-out 0.3s;
}
main .list .item .item-dropdown input[type=submit]:hover {
  background-color: #fcff00;
  color: black;
  transform: scale(1.03);
}
main .list .item .item-dropdown .webpage_form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
main .list .item .item-dropdown .webpage_form form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
main .list .item .item-dropdown a {
  text-decoration: none;
  color: white;
  margin: auto;
}
main .list .item .item-dropdown .title {
  display: flex;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}
main .list .item .item-dropdown .roles {
  align-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  width: 50%;
  text-align: center;
}
main .list .item .item-dropdown .roles div {
  display: flex;
  grid-gap: 3px;
  align-self: flex-start;
  text-decoration: none;
  font-weight: normal;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 15px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-left: 5px;
  padding-right: 10px;
  font-size: 15px;
  margin-right: 5px;
  margin-top: 4px;
  text-align: center;
}
main .list .item .item-dropdown .roles div a {
  display: flex;
  flex-grow: 1;
  border-radius: 15px;
  grid-gap: 0px;
  width: 15px;
  height: 15px;
  align-items: center;
  margin: auto;
  padding: auto;
  font-size: 15px;
  text-align: center;
  justify-content: center;
}
main .list .item .item-dropdown .roles div a:hover {
  color: black !important;
}/*# sourceMappingURL=structure_manager.css.map */